<li class="subscription_stream_list_item" id="<%= comment_post.id %>">
  <% comment = comment_post.comment %>
  <%= link_to "<div class=\"#{comment.user.get_user_avatar_class :medium}\" style=\"background-image: url('#{comment.user.get_user_avatar_url(:medium)}');\"></div>", (blogcast_path :username => comment.user.get_user_name), :target => "_blank" %>
<% if comment.instance_of?(TextComment) -%>
  <p class=list_item_text><%= comment.text %></p>
<% elsif comment.instance_of?(ImageComment) -%>
  <img class="list_item_image" src="<%= post.comment.image.url(:default) %>"/>
<% end -%>
  <p class="list_item_info">Commented by <%= link_to comment.user.get_user_name, comment.user.get_user_name, :target => "_blank" %> <%= hours_minutes_ago_helper comment.created_at %> from <%= comment.from %></p>
  <div id="clear">
  </div>
  <p class="list_item_info">Posted by <%= link_to comment_post.blogcast.user.name, (blogcast_path :username => comment_post.blogcast.user.name), :target => "_blank" %> <%= hours_minutes_ago_helper comment_post.created_at %> from <%= comment_post.from %></p>
  <%= link_to_remote "Repost", :url => {:controller => "reposts", :action => "create", "post_id" => comment_post.id, :from => "Web"} %>
</li>
