<li class="subscription_stream_list_item" id="<%= text_post.id %>">
  <%= link_to "<div class=\"avatar-medium-rounded\" style=\"background-image: url('#{text_post.blogcast.user.setting.avatar.url(:medium)}');\"></div>", { :controller => "blogcasts", :username => text_post.blogcast.user.name }, :target => "_blank" %>
  <p class=list_item_text><%= text_post.text %></p>
  <div id="clear">
  </div>
  <p class="list_item_info">Posted by <%= link_to text_post.blogcast.user.name, { :controller => "blogcasts", :username => text_post.blogcast.user.name}, :target => "_blank" %> <%= hours_minutes_ago_helper text_post.created_at %> from <%= text_post.from %></p>
  <%= link_to_remote "Repost", :url => {:controller => "reposts", :action => "create", "post_id" => text_post.id, :from => "Web"} %>
</li>
