<div id="content-container">
  <div id="content">
    <%= render :partial => "/share/new/header", :locals => { :user => @user } -%>
    <table id="top-table" class="content-table" cellspacing="0">
      <tr>
        <td class="main">
          <ul id="main-navigation">
            <li>
              <%= link_to "Go to #{@blogcast.title} &rArr;", blogcast_permalink_path(@user.username, @blogcast.year, @blogcast.month, @blogcast.day, @blogcast.link_title), :class => "navigation-link" %>
            </li>
            <li>
              <%= link_to "Edit blogcast &rArr;", edit_blogcast_path(:id => @blogcast.id), :class => "navigation-link" %>
            </li>
          </ul>
          <h1 class="subtitled">Dashboard</h1>
          <span class="subtitle"><%= @blogcast.title -%></span>
          <div id="dashboard" class="clearfix">
            <div id="post-buttons-container">
              <ul id="post-buttons">
                <li id="text-post-button" class="post-button selected">
                  Text
                </li>
                <li id="image-post-button" class="post-button">
                  Image 
                </li>
              </ul>
              <div id="post-buttons-padding">
              </div>
            </div>
            <div id="post-container">
              <div id="text-post" class="post">
                <% remote_form_for :text_post, :url => blogcast_text_posts_path(:blogcast_id => @blogcast.id), :html => { :id => "text-post-form", :method => "post" }, :before => "if (jQuery(\"#text_post_text\").val() == 'Enter text here...') return false; jQuery(\"#text-post-submit-button-container\").addClass(\"loading\")" do |form| -%>
                  <%= form.hidden_field :from %>
                  <%= form.text_area :text, :class => "text", :onfocus => "if (this.value == 'Enter text here...') { this.value = ''; jQuery(this).addClass('selected'); }", :onblur => "if (this.value == '') { jQuery(this).removeClass('selected'); this.value = 'Enter text here...'; }" -%>
                  <div id="text-post-submit-button-container" class="post-submit-button-container">
                    <%= form.submit "Post", :class => "post blue-button" %>
                  </div>
                <% end %>
              </div>
              <div id="image-post" class="post" style="display: none;">
                <% form_for :image_post, :url => blogcast_image_posts_path(:blogcast_id => @blogcast.id), :html => {:multipart => true} do |form| %>
                  <%= form.hidden_field :from %>
                  <%= form.file_field :image %>
                  <%= form.text_area :text, :class => "text", :onfocus => "if (this.value == 'Enter optional caption here...') { this.value = ''; jQuery(this).addClass('selected'); }", :onblur => "if (this.value == '') { jQuery(this).removeClass('selected'); this.value = 'Enter optional caption here...'; }" -%>
                  <div id="image-post-submit-button-container" class="post-submit-button-container">
                    <%= form.submit "Post", :class => "post blue-button" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </td>
        <td class="side">
          <div id="current-viewers-container">
            <div id="current-viewers-text">
              <span id="current-viewers"><%= @num_viewers -%></span> current viewers
            </div>
            <%= periodically_call_remote :url => blogcast_update_current_viewers_path(:blogcast_id => @blogcast.id), :frequency => 30 -%>
          </div>
          <h2><%= @blogcast.title -%></h2>
          <div class="arrow"></div>
          <div class="side-info-container">
            <div class="side-info-inner-container light">
              <ul class="stats">
                <li class="stat">
                  <span class="stat-counter"><%= @num_posts -%></span> <%= link_to @num_posts == 1 ? "Post" : "Posts", blogcast_posts_permalink_path(@user.username, @blogcast.year, @blogcast.month, @blogcast.day, @blogcast.link_title) -%>
                </li>
                <li class="stat">
                  <span class="stat-counter"><%= @num_comments -%></span> <%= link_to @num_comments == 1 ? "Comment" : "Comments", blogcast_comments_permalink_path(@user.username, @blogcast.year, @blogcast.month, @blogcast.day, @blogcast.link_title) -%>
                </li>
                <li class="stat">
                  <span class="stat-counter"><%= @num_likes -%></span> <%= link_to @num_likes == 1 ? "Like" : "Likes", blogcast_likes_permalink_path(@user.username, @blogcast.year, @blogcast.month, @blogcast.day, @blogcast.link_title) -%>
                </li>
              </ul>
            </div>
            <div id="side-blogcast-info" class="side-info-inner-container">
              <%= @blogcast.starting_at.strftime("%D") -%>
<%- if !@blogcast.description.blank? -%>
              &bull; <%= @blogcast.description -%>
<%- end -%>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <ul class="tabs clearfix">
      <li id="posts-tab" class="tab selected">
        Posts<span id="num-posts" class="tab-counter">(<%= @num_posts -%>)</span>
      </li>
      <li id="comments-tab" class="tab">
        Comments<span id="num-comments" class="tab-counter">(<%= @num_comments -%>)</span>
      </li>
    </ul>
    <table class="content-table tabs" cellspacing="0">
      <tr>
        <td class="main">
          <ol id="posts">
<% for post in @posts -%>
  <%- if post.instance_of?(TextPost) -%>
            <%= render :partial => "/share/new/text_post", :locals => { :text_post => post } -%>
  <%- elsif post.instance_of?(ImagePost) -%>
            <%= render :partial => "/share/new/image_post", :locals => { :image_post => post } -%>
  <%- elsif post.instance_of?(CommentPost) -%>
            <%= render :partial => "/share/new/comment_post", :locals => { :comment_post => post } -%>
  <%- end -%>
<% end -%>
          </ol>
          <ol id="comments" style="display: none;">
<% for comment in @comments -%>
            <%= render :partial => "/share/new/comment", :locals => { :comment => comment } -%>
<% end -%>
          </ol>
        </td>
        <td class="side">
        </td>
      </tr>
    </table>
  </div>
</div>
<%= render :partial => "/share/new/footer" -%>
