<div id="facebook-login">
</div>
<div id="twitter-sign-in">
</div>
<%- if show_top_bar -%>
<%= render :partial => "/share/new/top_bar" -%>
<div id="content-container" class="sign-in-sign-up-content-container top-bar">
<%- else -%>
<div id="content-container" class="sign-in-sign-up-content-container">
<%- end -%>
  <div id="content">
    <%= render :partial => "share/new/marketing_header" %>
    <div id="main" class="sign-in-main">
      <h1>Sign In</h1>
      <% form_tag session_path do %>
<%- if !flash[:error].nil? -%>
        <div id="error-message" class="flash-message">
          <h2><%= flash[:error] -%></h2>
        </div>            
<%- elsif !flash[:info].nil? -%>
        <div id="info-message" class="flash-message">
          <h2><%= flash[:info] -%></h2>
        </div>            
<%- end -%>
        <div id="facebook-and-twitter-sign-in-button-container">
<%- if Rails.env.production? -%>
          <%= link_to_function image_tag("new/facebook-login-button.png", :id => "login-with-facebook"), "facebookLoginSecure()" -%>
<%- else -%>
          <%= link_to_function image_tag("new/facebook-login-button.png", :id => "login-with-facebook"), "facebookLogin()" -%>
<%- end -%>
          <%= link_to_function image_tag("new/Sign-in-with-Twitter-darker.png", :id => "sign-in-with-twitter"), "twitterSignIn()" -%>
        </div>
        <%= label_tag :username, "Username or email address", :id => "sign-in-username-label", :class => "sign-in-sign-up-label" %>
        <%= text_field_tag :username, nil, :class => "sign-in-text-field" %>
        <%= label_tag :password, "Password", :id => "sign-in-password-label", :class => "sign-in-sign-up-label" -%>
        <%= password_field_tag :password, nil, :class => "sign-in-text-field" %>
        <div id="sign-in-sign-up-button-container" class="clearfix">
          <%= submit_tag "Sign In", :class => "sign-in-sign-up-button blue-button" %>
          <%= link_to "Forgot Password? &rArr;", new_password_path, :class => "navigation-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
