<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blogcastr Sign In</title>
    <%= stylesheet_link_tag "blogcastr.css", :media => "screen" %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="/"><img src="/images/logo.png" alt="Blogcastr" border=0></img></a>
        <div id="navigation">
          <%= link_to "Sign up", sign_up_path %>
          <%= link_to "Sign in", sign_in_path %>
        </div>
      </div>
      <div id="content">
        <h2>Sign in</h2>
        <% form_for :session, :url => session_path do |form| %>
          <%= form.hidden_field :type, :value => "BlogcastrSession" %>
          <%= form.label :username %>
          <%= form.text_field :username %>
          <%= form.label :password %>
          <%= form.password_field :password %>
          <%= form.submit "Sign in", :disable_with => "Please wait..." %>
          <%= link_to "Forgot password?", new_password_path %>
        <% end %>
      </div>
      <div id="footer">
        <p>&copy; 2009 Blogcastr</p>
      </div>
    </div>
  </body>
</html>
