<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blogcastr Sign In</title>
    <%= stylesheet_link_tag "blogcastr.css", :media => "screen" %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%- form_tag search_path :controller => "search" do -%>
          <%= label_tag(:query, image_tag("magnifying_glass.png")) %>
          <%= text_field_tag :query, "Search Blogcastr", :onfocus => "this.value = '';", :onblur => "this.value = 'Search Blogcastr';"  %>
        <%- end -%>
        <a href="/"><img src="/images/logo.png" alt="Blogcastr"></img></a>
        <div id="navigation">
          <%= link_to "Sign up", sign_up_path %>
          <%= link_to "Sign in", sign_in_path, :class => "selected" %>
        </div>
      </div>
      <div id="content" class="one-column">
        <div id="main">
          <div class="upper-left-border-squared-corner-blue">
          </div>
          <div class="top-border-blue">
          </div>
          <div class="upper-right-border-squared-corner-blue">
          </div>
          <div class="clear">
          </div>
          <div class="background">
            <div id="title">
              <div class="side-border">
                <div class="upper-left-border-squared-corner-gray">
                </div>
                <div class="left-border-gray">
                </div>
                <div class="lower-left-border-squared-corner-gray">
                </div>
              </div>
              <h1>Sign in!</h1>
              <div class="side-border">
                <div class="upper-right-border-squared-corner-gray">
                </div>
                <div class="right-border-gray">
                </div>
                <div class="lower-right-border-squared-corner-gray">
                </div>
              </div>
            </div>
            <% form_tag session_path do %>
<%- if !flash[:error].nil? -%>
              <div class="error">
                <h2><%= flash[:error] -%></h2>
              </div>            
<%- elsif !flash[:info].nil? -%>
              <div class="info">
                <h2><%= flash[:info] -%></h2>            
              </div>            
<%- end -%>
              <%= label_tag :user_name, "Username or email address" %>
              <%= text_field_tag :user_name %>
              <%= label_tag :password %>
              <%= password_field_tag :password %>
              <div class="right-justify">
                <%= link_to "forget your password?", new_password_path %>
              </div>
              <%= submit_tag "Submit", :class => "button" %>
            <% end %>
          </div>
          <div class="lower-left-border-squared-corner-blue">
          </div>
          <div class="bottom-border-blue">
          </div>
          <div class="lower-right-border-squared-corner-blue">
          </div>
          <div class="clear">
          </div>
        </div>
      </div>
      <div class="clear">
      </div>
      <div id="footer">
        <span>&copy; 2010 Blogcastr</span>
        <%= link_to "About", about_path -%>
        <a href="http://blogcastr.wordpress.com">Blog</a>
        <a href="http://www.facebook.com/blogcastr">Facebook</a>
        <%= link_to "FAQ", faq_path -%>
        <%= link_to "Privacy Policy", privacy_policy_path -%>
        <%= link_to "Terms of Service", terms_of_service_path -%>
        <a href="http://twitter.com/blogcastr">Twitter</a>
      </div>
    </div>
  </body>
</html>
