<div id="content-container" class="form">
  <div id="content">
    <%= render :partial => "share/new/marketing_header" %>
    <div id="main" class="form">
      <h1>Sign In</h1>
      <% form_tag session_path do %>
<%- if !flash[:error].nil? -%>
        <div class="error">
          <h2><%= flash[:error] -%></h2>
        </div>            
<%- elsif !flash[:info].nil? -%>
        <div class="info">
          <h2><%= flash[:info] -%></h2>            
        </div>            
<%- end -%>
        <div id="sign-in-username-label-container">
          <%= label_tag :username, "Username or email address", :class => "sign-in" %>
        </div>
        <%= text_field_tag :username, nil, :class => "sign-in" %>
        <div id="sign-in-password-label-container">
          <%= label_tag :password, "Password", :class => "sign-in" -%>
        </div>
        <%= password_field_tag :password, nil, :class => "sign-in" %>
        <div id="sign-in-sign-up-button-container" class="clearfix">
          <%= submit_tag "Sign In", :class => "sign-in-sign-up-button blue-button" %>
          <%= link_to "Forgot password? &rArr;", new_password_path, :class => "navigation-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
