<%- if i == 0 -%>
<li class="blogcast first">
<%- else -%>
<li class="blogcast">
<%- end -%>
<%- i = i + 1 -%>
  <div class="spacer">
<%- user = blogcast.user -%>    
    <%= link_to image_tag(user.setting.avatar(:medium), :class => "avatar"), profile_path(:username => user.username) -%>
    <div class="right">
      <%= link_to blogcast.title, username_blogcast_permalink_path(:username => blogcast.user.username, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title), :class => "title" -%>
      <div class="details">
        <%= link_to user.username, profile_path(:username => user.username), :class => "username detail first" -%>
        <span class="date time detail"><%= time_helper blogcast.starting_at -%></span>
<%- tags = BlogcastTag.find_by_sql(["SELECT * FROM blogcast_tags, tags WHERE blogcast_tags.blogcast_id = ? AND blogcast_tags.tag_id = tags.id", blogcast.id]) -%>
<%- if tags.length > 0 -%>
  <%- i = 0 -%>
        <span class="tags detail">
  <%- for tag in tags -%>
    <%- if i != 0 -%>
,
    <%- end -%>
          <%= link_to tag.name, user_tagged_blogcasts_path(:username => blogcast.user.username, :tag => tag.name), :class => "tag" -%>
    <%- i = i + 1 -%>
  <%- end -%>
        </span>
<%- end -%>
      </div>
<%- if !blogcast.description.nil? -%>
      <p class="description"><%= blogcast.description -%></p>
<%- end -%>
<%- num_posts = blogcast.posts.count -%>
      <%= link_to num_posts.to_s + ((num_posts == 1) ? " Post" : " Posts"), username_blogcast_posts_permalink_path(:username => blogcast.user.username, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title), :class => "stat first" -%>
<%- num_comments = blogcast.comments.count -%>
      <%= link_to num_comments.to_s + ((num_comments == 1) ? " Comment" : " Comments"), username_blogcast_comments_permalink_path(:username => blogcast.user.username, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title), :class => "stat" -%>
<%- num_likes = blogcast.likes.count -%>
      <%= link_to num_likes.to_s + ((num_likes == 1) ? " Like" : " Likes"), username_blogcast_likes_permalink_path(:username => blogcast.user.username, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title), :class => "stat" -%>
    </div>
    <div class="clear">
    </div>
  </div>
</li>
