<% comment_user = comment.user -%>
<% blogcast = comment.blogcast -%>
<% show_controls = nil if !defined?(show_controls) -%>
<% if i == 0 -%>
<li id="Comment:<%= comment.id %>" class="comment first">
<% else -%>
<li id="Comment:<%= comment.id %>" class="comment">
<% end -%>
  <div class="spacer">
<% if comment_user.instance_of?(BlogcastrUser) -%>
    <%= link_to image_tag(comment_user.setting.avatar(:medium), :class => "avatar"), profile_path(:username => comment_user.username) -%>
    <div class="right">
      <%= link_to comment_user.username, profile_path(:username => comment_user.username), :class => "username" -%>
<% else -%>
    <%= link_to image_tag(comment_user.get_avatar_url(:medium), :class => "avatar"), comment_user.get_url -%>
    <div class="right">
      <%= link_to comment_user.get_username, comment_user.get_url, :class => "username" -%>
<% end -%>
      <p class="text"><%= comment.text %></p>
  <%- if show_controls -%>
      <%= link_to_remote "Post", :url => {:controller => "comment_posts", :action => "create", "blogcast_id" => blogcast.id, "comment_id" => comment.id, :from => "Web"} %>
  <%- end -%>
    </div>
    <div class="clear">
    </div>
  </div>
</li>
