<% comment_user = comment.user -%>
<% blogcast = comment.blogcast -%>
<% show_controls = nil if !defined?(show_controls) -%>
<% if i == 0 -%>
<li id="Comment:<%= comment.id %>" class="comment first">
<% else -%>
<li id="Comment:<%= comment.id %>" class="comment">
<% end -%>
  <div class="spacer">
<% if comment_user.instance_of?(BlogcastrUser) -%>
    <%= link_to image_tag(comment_user.setting.avatar(:medium), :class => "avatar"), profile_path(:username => comment_user.username) -%>
    <div class="right">
      <%= link_to comment_user.username, profile_path(:username => comment_user.username), :class => "username" -%>
<% else -%>
    <div class="right">
<% end -%>
      <p class="text"><%= comment.text %></p>
  <%- if defined?(show_controls) -%>
      <%= link_to_remote "Post", :url => {:controller => "comment_posts", :action => "create", "blogcast_id" => blogcast.id, "comment_id" => comment.id, :from => "Web"} %>
  <%- end -%>
      <div class="info-collapsible" onclick="blogcastrCollapsibleEvent(this, 'Comment:<%= comment.id -%>-info');">Info<%= image_tag "up.png" -%></div>
      <div id="Comment:<%= comment.id -%>-info" class="info" style="display: none;">
<% if defined?(show_blogcast) -%>
  <%- if comment.user.instance_of?(FacebookUser) -%>
        <span class="info">Commented by <%= link_to comment_user.get_username, comment_user.get_url, :class => "username" -%> on <%= comment.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %> from <%= comment.from %> using Facebook Connect</p>
  <%- elsif comment.user.instance_of?(TwitterUser) -%>
        <span class="info">Commented by <%= comment_user.get_username -%> on <%= comment.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %> from <%= comment.from %> using Twitter Sign In</p>
  <%- else -%>
        <span class="info">Commented by <%= comment_user.username -%> on <%= comment.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %> from <%= comment.from %></p>
  <%- end -%>
<% else -%>
  <%- if comment.user.instance_of?(FacebookUser) -%>
        <span class="info">Commented by <%= link_to comment_user.get_username, comment_user.get_url, :class => "username" -%> on <%= comment.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %> from <%= comment.from %> using Facebook Connect</p>
  <%- elsif comment.user.instance_of?(TwitterUser) -%>
  <%- end -%>
<% end -%>
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
</li>
