<% if i == 0 -%>
<li id="Comment:<%= comment.id %>" class="comment first">
<% else -%>
<li id="Comment:<%= comment.id %>" class="comment">
<% end -%>
  <div class="spacer">
    <%= link_to image_tag(comment.user.setting.avatar(:medium), :class => "avatar"), profile_path(:username => comment.user.username) -%>
    <div class="right">
      <%= link_to comment.user.username, profile_path(:username => comment.user.username), :class => "username" -%>
      <span class="date"><%= time_ago_helper comment.created_at %></span>
      <p class="text"><%= comment.text %></p>
      <div class="info-collapsible" onclick="blogcastrCollapsibleEvent(this, 'Comment:<%= comment.id -%>-info');">Info<%= image_tag "up.png" -%></div>
      <div id="Comment:<%= comment.id -%>-info" class="info" style="display: none;">
<% if defined?(blogcast) -%>
        <span class="info">Commented by <%= link_to comment.user.username, profile_path(comment.user.username), :class => "username" -%> on <span class="date"><%= comment.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %></span> under "<%= link_to blogcast.title, user_blogcast_permalink_path(:username => blogcast.user.username, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title), :class => "blogcast" -%>" from <%= comment.from -%></span>
<% else -%>
        <span class="info">Commented by <%= link_to comment.user.username, profile_path(comment.user.username), :class => "username" -%> on <span class="date"><%= comment.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %></span> from <%= comment.from %></span>
<% end -%>
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
</li>
