<% blogcast = text_post.blogcast -%>
<% show_controls = nil if !defined?(show_controls) -%>
<% if i == 0 -%>
<li id="Post:<%= text_post.id %>" class="post first">
<% else -%>
<li id="Post:<%= text_post.id %>" class="post">
<% end -%>
  <div class="spacer">
    <%= link_to image_tag(text_post.user.setting.avatar(:medium), :class => "avatar"), profile_path(:username => text_post.user.username) -%>
    <div class="right">
      <%= link_to text_post.user.username, profile_path(:username => text_post.user.username), :class => "username" -%>
      <span class="date"><%= time_ago_helper text_post.created_at %></span>
      <p class="text"><%= text_post.text %></p>
<%- if show_controls -%>
      <%= link_to_remote "Delete", :url => {:controller => "text_posts", :action => "destroy", "blogcast_id" => blogcast.id, "id" => text_post.id, :from => "Web"}, :method => "delete" %>
<%- end -%>
      <div class="info-collapsible" onclick="blogcastrCollapsibleEvent(this, 'TextPost:<%= text_post.id -%>-info');">Info<%= image_tag "up.png" -%></div>
      <div id="TextPost:<%= text_post.id -%>-info" class="info" style="display: none;">
<% if defined?(blogcast) -%>
        <span class="info">Posted by <%= link_to text_post.user.username, profile_path(text_post.user.username), :class => "username" -%> on <span class="date"><%= text_post.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %></span> under "<%= link_to blogcast.title, user_blogcast_permalink_path(:username => blogcast.user.username, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title), :class => "blogcast" -%>" from <%= text_post.from -%></span>
<% else -%>
        <span class="info">Posted by <%= link_to text_post.user.username, profile_path(text_post.user.username), :class => "username" -%> on <span class="date"><%= text_post.created_at.strftime("%b %d, %Y %I:%M %p %Z").gsub(/ 0/,' ') %></span> from <%= text_post.from %></span>
<% end -%>
      </div>
    </div>
    <div class="clear">
    </div>
  </div>
</li>
