<li id="<%= comment_post.id %>">
  <% comment = comment_post.comment %>
  <%= link_to "<div class=\"avatar-medium-rounded\" style=\"background-image: url('#{comment.user.setting.avatar.url(:medium)}');\"></div>", blogcast_path(:username => comment.user.name), :target => "_blank" %>
<% if comment.instance_of?(TextComment) -%>
  <p class=list_item_text><%= comment.text %></p>
<% elsif comment.instance_of?(ImageComment) -%>
  <img class="list_item_image" src="<%= comment.image.url(:default) %>"/>
<% end -%>
  <p class="list_item_info">Commented by <%= link_to comment.user.name, blogcast_path(:username => comment.user.name), :target => "_blank" %> <%= hours_minutes_ago_helper comment.created_at %> from <%= comment.from %></p>
  <div id="clear">
  </div>
  <p class="list_item_info">Posted <%= hours_minutes_ago_helper comment_post.created_at %> from <%= comment_post.from %></p>
</li>
