<div id="wrapper">
  <div id="header">
    <%= link_to "<div class=\"avatar-large-rounded avatar-large-rounded-background\" style=\"background-image: url('#{@user.setting.avatar(:large)}')\"></div>", profile_path(:username => @user.username), :target => "_blank" %>
    <h1><%= @user.username %></h1>
    <div id="navigation">
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path, :method => :delete %>
    </div>
  </div>
  <div id="content">
    <div id="main">
      <h2>New Blogcast<h2>
      <% form_for @blogcast, :url => create_blogcast_path do |form| %>
        <%= form.error_messages %>
        <%= form.label :title, "Title" %>
        <%= form.text_field :title %>
        <br>
        <%= form.label :link_title, "Link title" %>
        <%= form.text_field :link_title %>
        <br>
        <%= form.label :tags, "Tags" %>
        <%= form.text_field :tags %>
        <br>
        <%= form.label :description, "Description" %>
        <%= form.text_area :description %>
        <br>
        <%= form.datetime_select :starting_at %>
        <br>
        <%= form.submit 'Submit', :disable_with => 'Submitting...' %>
      <% end %>
    </div>
    <div id="sidebar">
    </div>
    <div id="clear">
    </div>
  </div>
  <div id="footer">
    <p>&copy; 2009 Blogcastr</p>
  </div>
</div>
