<div id="wrapper">
  <div id="header">
    <%= link_to "<div class=\"avatar-large-rounded avatar-large-rounded-background\"></div>", blogcast_path(:username => @blogcast_user.name), :target => "_blank" %>
    <h1><%= @blogcast_user.name %>'s Blogcast</h1>
<% if @user.instance_of?(BlogcastrUser) -%>
    <div id="navigation">
      <%= link_to "Dashboard", dashboard_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path %>
    </div>
    <%= link_to "<div class=\"avatar-small-rounded avatar-small-rounded-background\"></div>", blogcast_path(:username => @user.name), :target => "_blank" %>
    <div id="clear">
    </div>
  <%- if @blogcast_user.name != @user.name -%> 
    <div id="subscription">
    <%- if @subscription.nil? -%>
    <%= link_to_remote "Subscribe", :url => blogcast_subscriptions_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, unable to subscribe to #{@blogcast_user.name}\\'s blogcast');" %>
    <%- else -%>
    <%= link_to_remote "Unsubscribe", :url => blogcast_subscriptions_path(:blogcast_id => @subscription.blogcast_id), :method => "delete", :failure => "alert('Error communicating with server, unable to unsubscribe from #{@blogcast_user.name}\\'s blogcast');" %>
    <%- end -%>
    </div>
  <%- end -%>
<% elsif !@user.nil? -%>
    <div id="navigation">
      <%= link_to "Sign up", sign_up_path %>
    </div>
<% else -%>
    <div id="navigation">
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", sign_in_path %>
    </div>
<% end -%>
  </div>
  <div id="content">
    <div id="main">
<% if signed_in_as_blogcastr_user? -%>
      <h2>Comment:</h2>
      <% remote_form_for :text_comment, :url => blogcast_text_comments_path(:blogcast_id => @blogcast.id), :html => { :id => "text_comment_form", :method => "post"}, :complete => "$('text_comment_form').reset();" do |f| -%>
        <%= f.error_messages %>
        <input id="jid" type="hidden" value="" name="jid"/>
        <%= f.hidden_field :from %>
        <%= f.label :text, "Text" %>
        <br>
        <%= f.text_area :text, :size => "50x10" %>
	<br>
        <%= f.submit "Submit" %>
      <%- end -%>
<% elsif signed_in_as_facebook_user? -%>
      <h3>You are logged in as <%= facebook_session.user.name %> </h3>
      <a href="#" onclick="FB.Connect.logout(blogcastrFacebookSignOut); return false;">Sign out</a>
      <h3>Comment:</h3>
      <% remote_form_for :text_comment, :url => blogcast_text_comments_path(:blogcast_id => @blogcast.id), :html => { :id => "text_comment_form", :method => "post"}, :complete => "$('text_comment_form').reset();" do |f| -%>
        <%= f.error_messages %>
        <input id="jid" type="hidden" value="" name="jid"/>
        <%= f.hidden_field :from %>
        <%= f.label :text, "Text" %>
        <br>
        <%= f.text_area :text, :size => "50x10" %>
	<br>
        <%= f.submit "Submit" %>
      <%- end -%>
<% elsif signed_in_as_twitter_user? -%>
      <h3>You are logged in as <%= @user.get_user_name %> </h3>
      <a href="#" onclick="blogcastrTwitterSignOut(); return false;">Sign out</a>
      <h3>Comment:</h3>
      <% remote_form_for :text_comment, :url => blogcast_text_comments_path(:blogcast_id => @blogcast.id), :html => { :id => "text_comment_form", :method => "post"}, :complete => "$('text_comment_form').reset();" do |f| -%>
        <%= f.error_messages %>
        <input id="jid" type="hidden" value="" name="jid"/>
        <%= f.hidden_field :from %>
        <%= f.label :text, "Text" %>
        <br>
        <%= f.text_area :text, :size => "50x10" %>
	<br>
        <%= f.submit "Submit" %>
      <%- end -%>
<% else -%>
    <h2>Comment</h2>
    <a href="#" onclick="FB.Connect.requireSession(blogcastrFacebookSignIn); return false;"><img id="facebook_connect_image" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif" alt="Facebook connect" /></a>
    <a href="#" onclick="blogcastrTwitterSignIn(); return false;"><img id="twitter_sign_in_image" src="/images/Sign-in-with-Twitter-darker.png" alt="Twitter sign in" /></a>
<% end -%>
      <ol>
<%- for post in @posts -%>
  <%- if post.instance_of?(TextPost) -%>
      <%= render :partial => "text_post", :object => post -%>
  <%- elsif post.instance_of?(ImagePost) -%>
      <%= render :partial => "image_post", :object => post -%>
  <%- elsif post.instance_of?(CommentPost) -%>
      <%= render :partial => "comment_post", :object => post -%>
  <%- elsif post.instance_of?(Repost) -%>
      <%= render :partial => "repost", :object => post -%>
  <%- end -%>
<%- end -%>
      </ol>
    </div>
    <div id="sidebar">
<% if !@blogcast_user.setting.name.nil? %>
      <h4>Name</h4>
      <p><%= @blogcast_user.setting.name %></p>
      <div id="clear">
      </div>
<% end -%>
<% if !@blogcast_user.setting.about.nil? %>
      <h4>About</h4>
      <p><%= @blogcast_user.setting.about %></p>
<% end -%>
<% if !@blogcast_user.setting.web.nil? %>
      <h4>Web</h4>
      <a href="<%= @blogcast_user.setting.web %>" target="_blank"><%= @blogcast_user.setting.web %></a>
<% end -%>
      <hr>
      <h3>Subscriptions</h3>
      <ul>
<% for subscription in @blogcast_user.subscriptions -%>
        <li>
          <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{subscription.blogcast.user.setting.avatar.url(:small)}');\"></div>", blogcast_path(:username => subscription.blogcast.user.name), :target => "_blank" %>
        </li>
<% end -%>
       </ul>
    </div>
    <div id="clear">
    </div>
  </div>
  <div id="footer">
    <p>&copy; 2009 Blogcastr</p>
  </div>
</div>
