<div id="alert" style="display: none;">
</div>
<div id="content-container">
  <div id="content">
    <%= render :partial => "/share/new/header", :locals => { :user => @current_user } -%>
    <table id="content-table" cellspacing="0">
      <tr>
        <td id="main">
          <ul id="profile-navigation">
            <li>
              <%= link_to "Go to #{@possesive_username} profile &rArr;", profile_path, :class => "navigation-link" -%>
            </li>
          </ul>
          <h1 class="subtitled">Subscribers</h1>
          <span class="subtitle"><%= @user.username -%></span>
          <div class="showing">
            Showing <%= @num_first_subscriber -%>-<%= @num_last_subscriber -%> of <%= @num_paginated_subscribers -%> subscribers...
          </div>
          <ol id="users">
<% for subscriber in @paginated_subscribers -%>
            <%= render :partial => "/share/new/user", :locals => { :user => subscriber } -%>
<% end -%>
          </ol>
<% if @num_paginated_subscribers > 0 -%>
          <div class="pagination">
  <%- if !@previous_page.nil? -%>
            <%= link_to "&lArr; Back", user_subscribers_permalink_path(:page => @previous_page, :id => @id), :class => "back navigation-link" %>
  <%- end -%>
            <%= @num_first_subscriber -%>-<%= @num_last_subscriber -%> of <%= @num_paginated_subscribers -%>
  <%- if !@next_page.nil? -%>
            <%= link_to "Next &rArr;", user_subscribers_permalink_path(:page => @next_page, :id => @id), :class => "next navigation-link" %>
  <%- end -%>
          </div>
<% end -%>
        </td>
        <td id="side">
          <%= render :partial => "/share/new/user_side_info", :locals => { :user => @user, :current_user => @current_user, :num_blogcasts => @num_blogcasts, :num_subscriptions => @num_subscriptions, :num_subscribers => @num_subscribers, :subscription => @subscription } -%>
        </td>
      </tr>
    </table>
    <%= render :partial => "/share/new/content_footer" -%>
  </div>
</div>
