<div id="right-side">
  <div class="upper-left-border-rounded-corner">
  </div>
  <div class="top-border-large">
  </div>
  <div class="upper-right-border-rounded-corner">
  </div>
  <div class="clear">
  </div>
  <div class="background">
    <div class="section first">
<% if @blogcast.starting_at > Time.now -%>
      <span class="name">Starts:</span>
<% else -%>
      <span class="name">Started:</span>
<% end -%>
      <span class="date"><%= starting_at_in_words(@blogcast.starting_at) %></span>
    </div>
<% if @tags.length > 0 %>
    <div class="section">
      <span class="name">Tags:</span>
  <%- i = 0 -%>
      <span class="tags">
  <%- for tag in @tags -%>
    <%- if i != 0 -%>
,
    <%- end -%>
        <%= link_to tag.name, user_tagged_blogcasts_path(:username => @blogcast_user.username, :tag => tag.name), :class => "tag" -%>
    <%- i = i + 1 -%>
  <%- end -%>
      </span>
    </div>
<% end -%>
<% if !@blogcast.description.nil? %>
    <div class="section">
      <span class="name">Description:</span>
      <%= @blogcast.description -%>
    </div>
<% end -%>
    <hr>
    <div id="stats">
      <a class="first stat" href="<%= username_blogcast_comments_permalink_path :username => @blogcast_user.username -%>"><span class="counter"><%= @num_comments -%></span><span class="name"><%= @num_comments == 1 ? "Comment" : "Comments" -%></span></a>
<% if @num_likes == 0 -%>
      <div class="stat second"><span class="counter">0</span><span class="name">Likes</span></div>
<% else -%>
      <div class="stat" onclick="blogcastrCollapsibleEvent(this, 'likes');"><span class="counter"><%= @num_likes -%></span><span class="name"><%= @num_likes == 1 ? "Like" : "Likes" -%></span><%= image_tag "down.png" -%></div>
      <div id="likes">
        <ul>
  <%- i = 0 -%>
  <%- for like in @likes -%>
    <%- if ((i%8) == 0) -%>
      <%- if (i < 8) -%>
          <li class="first top">
      <%- else -%>
          <li>
      <%- end -%>
    <%- else -%>
      <%- if (i < 8) -%>
          <li class="top">
      <%- else -%>
          <li>
      <%- end -%>
    <%- end -%>
            <%= link_to image_tag(like.setting.avatar.url(:small), :class => "avatar small", :alt => "#{like.username}"), profile_path(:username => like.username), :title => "#{like.username}" %>
          </li>
    <%- i = i + 1 -%>
  <% end -%>
        </ul>
        <div class="clear">
        </div>
  <%- if @num_likes > 21 -%>
        <%= link_to "More", username_blogcast_likes_permalink_path, :class => "more" -%>
  <%- end -%>
      </div>
<% end -%>
      <div class="stat third"><span id="num-viewers" class="counter"><%= @num_viewers -%></span><span id="viewers" class="name"><%= @num_viewers == 1 ? "Viewer" : "Viewers" -%></span></div>
      <%= periodically_call_remote :url => blogcast_update_num_viewers_path(:blogcast_id => @blogcast.id), :frequency => 30 -%>
      <div class="last stat fourth"><span class="counter"><%= @num_views -%></span><span class="name"><%= @num_views == 1 ? "View" : "Views" -%></span></div>
    </div>
<% if @user.instance_of?(BlogcastrUser) -%>
  <%- if @user != @blogcast_user -%>
    <hr>
    <div id="email-reminder">
    <%- if @email_blogcast_reminder.nil? -%>
      <%= link_to_remote image_tag("email_add.png") + "<p>Email reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_email_reminders_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, failed to create email reminder for \\\"#{@blogcast.title}\\\"');", :html => {:class => "reminder"}, :method => "post" %>
    <%- else -%>
      <%= link_to_remote image_tag("email_delete.png") + "<p>Email reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_email_reminder_path(:blogcast_id => @blogcast.id, :id => @email_blogcast_reminder.id), :failure => "alert('Error communicating with server, failed to create email reminder for \\\"#{@blogcast.title}\\\"');", :html => {:class => "reminder"}, :method => "delete" %>
    <%- end -%>
    </div>
    <div class="clear">
    </div>
    <%- if @user.setting.mobile_phone_confirmed == true -%>
    <div id="sms-reminder">
      <%- if @sms_blogcast_notification.nil? -%>
      <%= link_to_remote image_tag("phone_add.png") + "<p>SMS reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_sms_reminders_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, failed to create sms reminder for \"#{@blogcast.title}\"');", :html => {:class => "reminder"}, :method => "post" %>
      <%- else -%>
      <%= link_to_remote image_tag("phone_delete.png") + "<p>SMS reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_sms_reminder_path(:blogcast_id => @blogcast.id, :id => @sms_blogcast_reminder.id), :failure => "alert('Error communicating with server, failed to create sms reminder for \"#{@blogcast.title}\"');", :html => {:class => "reminder"}, :method => "delete" %>
      <%- end -%>
    </div>
    <div class="clear">
    </div>
    <%- end -%>
  <%- end -%>
<% end -%>
  </div>
  <div class="lower-left-border-rounded-corner">
  </div>
  <div class="bottom-border-large">
  </div>
  <div class="lower-right-border-rounded-corner">
  </div>
  <div class="clear">
  </div>
</div>
