<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blogcastr Sign Up</title>
    <%= javascript_include_tag "jquery.js", :media => "all" %>
    <%= stylesheet_link_tag "blogcastr.css", :media => "screen" %>
    <script type="text/javascript">
      //<![CDATA[
      function blogcastrOnLoad()
      {
        //MVR - determine user's timezone
        var date = new Date()
        var utc_offset = -date.getTimezoneOffset();
        $("input#utc_offset").attr("value", utc_offset);
      }
      window.addEventListener("load", blogcastrOnLoad, false);
      //]]>
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="/"><img src="/images/logo.png" alt="Blogcastr" border=0></img></a>
        <div id="navigation">
          <%= link_to "Sign up", sign_up_path %>
          <%= link_to "Sign in", sign_in_path %>
        </div>
      </div>
      <div id="content">
        <h2>Sign up</h2>
        <% form_for :blogcastr_user, :url => users_path do |form| %>
          <input id="utc_offset" type="hidden" name="utc_offset" value="">
          <%= form.error_messages %>
          <%= form.label :user_name %>
          <br>
          <%= form.text_field :name %>
          <br>
          <%= form.label :email %>
          <br>
          <%= form.text_field :email %>
          <br>
          <%= form.label :password %>
          <br>
          <%= form.password_field :password %>
          <br>
          <%= form.label :password_confirmation, "Confirm password" %>
          <br>
          <%= form.password_field :password_confirmation %>
          <br>
          <%= form.submit 'Submit', :disable_with => 'Submitting...' %>
        <% end %>
      </div>
      <div id="footer">
        <p>&copy; 2009 Blogcastr</p>
      </div>
    </div>
  </body>
</html>
