<div id="facebook-login">
</div>
<div id="twitter-sign-in">
</div>
<div id="content-container" class="sign-in-sign-up-content-container">
  <div id="content">
    <%= render :partial => "share/new/marketing_header" %>
    <div id="main">
      <h1>Sign Up</h1>
      <% form_for :blogcastr_user, :url => users_path do |form| %>
        <%= error_messages_for "blogcastr_user", "setting", :header_message => "Oops!", :message => nil -%>
        <input id="utc_offset" type="hidden" name="utc_offset" value="">
        <table>
          <tr>
            <th>
            </th>
            <td>
<%- if @current_user.nil? -%>
              <div id="facebook-and-twitter-sign-in-button-container">
                <%= link_to_function image_tag("new/facebook-login-button.png", :id => "login-with-facebook"), "facebookLoginSecure()" -%>
                <%= link_to_function image_tag("new/Sign-in-with-Twitter-darker.png", :id => "sign-in-with-twitter"), "twitterSignIn()" -%>
              </div>
<%- elsif @current_user.instance_of?(FacebookUser) -%>
              <%= link_to "<div id=\"avatar\" class=\"small-rounded-avatar\" style=\"background-image: url('" + @current_user.setting.avatar.url(:small) + "')\"></div>", @current_user.facebook_link %>
              <div id="facebook-and-twitter-connect-container">
                <div class="connect">You are connected via Facebook.</div>
                <%= link_to "Sign out &rArr;", facebook_logout_path, :method => "delete", :class => "navigation-link" %>
              </div>
<%- elsif @current_user.instance_of?(TwitterUser) -%>
              <%= link_to "<div id=\"avatar\" class=\"small-rounded-avatar\" style=\"background-image: url('" + @current_user.setting.avatar.url(:small) + "')\"></div>", "http://twitter.com/" + @current_user.username %>
              <div id="facebook-and-twitter-connect-container">
                <div class="connect">You are connected via Twitter.</div>
                <%= link_to "Sign out &rArr;", twitter_sign_out_path, :method => "delete", :class => "navigation-link" %>
              </div>
<%- end -%>
            </td>
          </tr>
<% fields_for :setting do |setting| -%>
          <tr>
            <th class="full-name">
              <%= setting.label :full_name, nil, :class => "sign-in-sign-up-label" %>
            </th>
            <td class="full-name">
              <%= setting.text_field :full_name, :autocomplete => "off", :class => "sign-up-text-field" %>
            </td>
          </tr>
<% end -%>
          <tr>
            <th class="text-field">
              <%= form.label :username, nil, :class => "sign-in-sign-up-label" %>
            </th>
            <td class="text-field">
              <div id="pick-username-container" class="sign-up-text-field" onclick="jQuery('#pick-username-container input').focus();">
                http://blogcastr.com/<%= form.text_field :username, :autocomplete => "off", :maxlength => 15, :size => 20 -%>
              </div>
              <%= observe_field "blogcastr_user_username", :url => valid_user_path, :frequency => 0.5, :with => "blogcastr_user[username]", :before => "jQuery('#pick-username-container').removeClass('valid invalid').addClass('loading');", :condition => "checkUsername()" -%>
            </td>
          </tr>
          <tr>
            <th>
            </th>
            <td>
              <span class="text-field-description">This will also be your Blogcastr URL</span>
            </td>
          </tr>
          <tr>
            <th class="text-field">
              <%= form.label :password, nil, :class => "sign-in-sign-up-label" %>
            </th>
            <td class="text-field">
              <%= form.password_field :password, :autocomplete => "off", :class => "sign-up-text-field" %>
            </td>
          </tr>
          <tr>
            <th>
            </th>
            <td>
              <span class="text-field-description">Minimum six characters</span>
            </td>
          </tr>
          <tr>
            <th class="text-field">
              <%= form.label :password_confirmation, "Confirm password", :class => "sign-in-sign-up-label" %>
            </th>
            <td class="text-field">
              <%= form.password_field :password_confirmation, :class => "sign-up-text-field" %>
            </td>
          </tr>
          <tr>
            <th class="text-field">
              <%= form.label :email, "Email address", :class => "sign-in-sign-up-label" %>
            </th>
            <td class="text-field">
              <%= form.text_field :email, :autocomplete => "off", :class => "sign-up-text-field" %>
            </td>
          </tr>
<%- if @current_user.nil? -%>
          <tr>
            <td>
            </td>
            <td>
              <div id="recaptcha-container">
                <script>
                  var RecaptchaOptions = {
                    theme: 'clean',
                  };
                </script>
                <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6Lc7igsAAAAAAArbqi3G-QsN2-gOXfawH872adv-"></script>
              </div>
            </td>
          </tr>
<%- end -%>
        </table>
        <div id="sign-in-sign-up-button-container" class="clearfix">
          <%= form.submit "Sign Up", :class => "sign-in-sign-up-button orange-button" %>
          <div id="fine-print">By clicking Sign Up you agree to our<br><%= link_to "Terms of Service &rArr;", terms_of_service_path, :class => "navigation-link" -%> and <%= link_to "Privacy Policy &rArr;", privacy_policy_path, :class => "navigation-link" -%>.</div> 
        </div>
      <% end %>
    </div>
  </div>
</div>
