<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= @blogcast.title %></title>
    <link rel="stylesheet" href="/stylesheets/blogcastr.css" media="screen"/>
    <link rel="stylesheet" href="/stylesheets/blogcast.css" media="screen"/>
    <%= javascript_include_tag :defaults, "jquery.js", "strophe/b64.js", "strophe/md5.js", "strophe/sha1.js", "strophe/strophe.js", "swfobject.js", "blogcast.js", :media => "all" %>
    <style>
<% if @theme.nil? -%>
      body
      {
  <%- if !@blogcast_setting.background_image_file_name.nil? -%>
        background-image: url('<%= @blogcast_setting.background_image.url %>');
  <% end -%>
  <%- if @blogcast_setting.tile_background_image == false -%>
        background-repeat: no-repeat;
  <% end -%>
  <%- if @blogcast_setting.scroll_background_image == false -%>
        background-attachment: fixed;
  <% end -%>
  <%- if !@blogcast_setting.background_color.blank? -%>
        background-color: <%= @blogcast_setting.background_color; -%>
  <% end -%>
      }
<% else -%>
      body
      {
  <%- if !@theme.background_image_file_name.nil? -%>
        background-image: url('/images/themes/<%= @theme.id -%>/background_image/original/<%= @theme.background_image_file_name -%>');
  <% end -%>
  <%- if @theme.id == 1 -%>
        background-repeat: repeat-x;
  <%- elsif @theme.tile_background_image == false -%>
        background-repeat: no-repeat;
  <%- end -%>
  <%- if @theme.scroll_background_image == false -%>
        background-attachment: fixed;
  <% end -%>
  <%- if !@theme.background_color.blank? -%>
        background-color: <%= @theme.background_color; -%>
  <% end -%>
      }
<% end -%>
    </style>
    <%= javascript_tag "var authenticity_token = \"#{form_authenticity_token}\"" %>
<% if @user.instance_of?(FacebookUser) -%>
    <%= javascript_tag "var facebook_id = #{@user.facebook_id}" %>
<% end -%>
    <% javascript_tag do %>
      jQuery.noConflict();
      var hostname = "<%= HOST %>";
      var blogcast_id = <%= @blogcast.id %>;
      var up_image = "<%= image_path "up.png" -%>";
      var down_image = "<%= image_path "down.png" -%>";
      var ajax_loader_image = "<%= image_path "ajax-loader.gif" -%>";
<% if @user.instance_of?(BlogcastrUser) -%>
      var username = "<%= @user.username %>";
<% else -%>
      var username;
<% end -%>
      var server_timestamp = <%= Time.now.to_i %>;
<%- if Rails.env.production? -%> 
      var facebook_attachment = {'name':'<%= @blogcast.title.gsub(/'/, "\\\\'") -%>', 'href':'<%= username_blogcast_permalink_url(:username => @blogcast_user.username, :year => @blogcast.year, :month => @blogcast.month, :day => @blogcast.day, :title => @blogcast.link_title) -%>', 'description':'<%= @blogcast.description.gsub(/'/, "\\\\'") -%>', 'properties':{'By':{'text':'<%= @blogcast_user.username -%>', 'href':'<%= profile_url :username => @blogcast_user.username -%>'},'On':'<%= @blogcast.starting_at.strftime("%B %e, %Y") -%>'}, 'media':[{'type':'image', 'src':'http://blogcastr.com/images/blogcastr-icon.png', 'href':'<%= root_url -%>'}]};
<% else -%>
  <%- if @blogcast.description.blank? -%>
      var facebook_attachment = {'name':'<%= @blogcast.title.gsub(/'/, "\\\\'") -%>', 'href':'<%= username_blogcast_permalink_url(:username => @blogcast_user.username, :year => @blogcast.year, :month => @blogcast.month, :day => @blogcast.day, :title => @blogcast.link_title) -%>', 'properties':{'By':{'text':'<%= @blogcast_user.username -%>', 'href':'<%= profile_url :username => @blogcast_user.username -%>'},'On':'<%= @blogcast.starting_at.strftime("%B %e, %Y") -%>'}, 'media':[{'type':'image', 'src':'http://sandbox.blogcastr.com/images/blogcastr-icon.png', 'href':'<%= root_url -%>'}]};
  <%- else -%>
      var facebook_attachment = {'name':'<%= @blogcast.title.gsub(/'/, "\\\\'") -%>', 'href':'<%= username_blogcast_permalink_url(:username => @blogcast_user.username, :year => @blogcast.year, :month => @blogcast.month, :day => @blogcast.day, :title => @blogcast.link_title) -%>', 'description':'<%= @blogcast.description.gsub(/'/, "\\\\'") -%>', 'properties':{'By':{'text':'<%= @blogcast_user.username -%>', 'href':'<%= profile_url :username => @blogcast_user.username -%>'},'On':'<%= @blogcast.starting_at.strftime("%B %e, %Y") -%>'}, 'media':[{'type':'image', 'src':'http://sandbox.blogcastr.com/images/blogcastr-icon.png', 'href':'<%= root_url -%>'}]};
  <%- end -%>
<% end -%>
    <% end %>
<% if @user.instance_of?(BlogcastrUser) -%>
  <%- if Rails.env.production? -%> 
    <script type="text/javascript" src="https://blogcastr.com/ejabberd/password.js"></script>
  <%- else -%>
    <script type="text/javascript" src="/ejabberd/password.js"></script>
  <%- end -%>
<% end -%>
  </head>
  <body>
    <%= yield :layout %>
    <%= fb_connect_javascript_tag %>
    <%- init_fb_connect :app_settings => "{\"ifUserConnected\": blogcastrFacebookUserConnected, \"ifUserNotConnected\": blogcastrFacebookUserNotConnected}" %>
    <%= init_fb_connect %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-11177931-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
