<div id="wrapper">
  <div id="header">
    <h1><%= @user.name %>'s Settings</h1>
    <div id="navigation">
      <%= link_to "Dashboard", dashboard_url %>
      <%= link_to "Settings", settings_url %>
      <%= link_to "Sign out", sign_out_url %>
    </div>
  </div>
  <div id="content">
    <div id="main">
      <% form_for :setting, :url => {:controller => "settings", :action => "update"}, :html => {:multipart => true, :id => "settings_form", :method => "put"} do |f| %>
        <%= f.error_messages %>
        <%= f.label :name, "Name" %>
	<br>
        <%= f.text_field :name %>
	<br>
        <%= f.label :about, "About" %>
	<br>
        <%= f.text_area :about, :size => "50x10" %>
	<br>
        <%= f.label :web, "Web" %>
	<br>
        <%= f.text_field :web %>
	<br>
        <%= f.label :avatar, "Avatar" %>
	<br>
        <%= f.file_field :avatar %>
	<br>
        <%= f.label :image, "Background" %>
	<br>
        <%= f.file_field :background %>
	<br>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
    <div id="sidebar">
    </div>
    <div id="clear"></div>
  </div>
  <div id="footer">
    <p>&copy; 2009 Blogcastr</p>
  </div>
</div>
