<div id="wrapper">
  <div id="header">
    <h1><%= @user.username %>'s Settings</h1>
    <div id="navigation">
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path %>
    </div>
  </div>
  <div id="content">
    <div id="main">
      <% form_for :setting, :url => {:controller => "settings", :action => "update"}, :html => {:multipart => true, :id => "settings_form", :method => "put"} do |form| %>
        <%= form.error_messages %>
        <%= form.label :full_name %>
	<br>
        <%= form.text_field :full_name %>
	<br>
        <%= form.label :moto, "Moto" %>
	<br>
        <%= form.text_field :moto %>
	<br>
        <%= form.label :bio, "Bio" %>
	<br>
        <%= form.text_area :bio, :size => "50x10" %>
	<br>
        <%= form.label :web, "Web" %>
	<br>
        <%= form.text_field :web %>
	<br>
        <label for="setting_time_zone">Time zone</label>
	<br>
        <%= time_zone_select "setting", "time_zone", ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)" %>
	<br>
        <%= form.label :avatar, "Avatar" %>
	<br>
        <%= form.file_field :avatar %>
	<br>
        <%= form.label :image, "Background" %>
	<br>
        <%= form.file_field :background %>
	<br>
        <%= form.submit "Submit" %>
      <% end %>
    </div>
    <div id="sidebar">
    </div>
    <div id="clear"></div>
  </div>
  <div id="footer">
    <p>&copy; 2009 Blogcastr</p>
  </div>
</div>
