<div id="alert" style="display: none;">
</div>
<div id="content-container">
  <div id="content">
    <%= render :partial => "/share/new/header", :locals => { :user => @current_user } -%>
    <table id="content-table" cellspacing="0">
      <tr>
        <td id="main">
          <ul id="blogcast-navigation">
            <li>
              <%= link_to "Go to #{@blogcast.title} &rArr;", blogcast_permalink_path, :class => "navigation-link" -%>
            </li>
          </ul>
          <h1 class="inline">Comments</h1>
          <span class="subtitle"><%= @blogcast.title -%></span>
          <div class="showing">
            Showing <%= @num_first_comment -%>-<%= @num_last_comment -%> of <%= @num_paginated_comments -%> comments...
          </div>
          <ol id="comments">
<% for comment in @paginated_comments -%>
            <%= render :partial => "/share/new/comment", :locals => { :comment => comment } -%>
<% end -%>
          </ol>
<% if @num_paginated_comments > 0 -%>
          <div class="pagination">
  <%- if !@previous_page.nil? -%>
            <%= link_to "&lArr; Back", blogcast_comments_permalink_path(:page => @previous_page, :id => @id), :class => "back navigation-link" %>
  <%- end -%>
            <%= @num_first_comment -%>-<%= @num_last_comment -%> of <%= @num_paginated_comments -%>
  <%- if !@next_page.nil? -%>
            <%= link_to "Next &rArr;", blogcast_comments_permalink_path(:page => @next_page, :id => @id), :class => "next navigation-link" %>
  <%- end -%>
          </div>
<% end -%>
        </td>
        <td id="side">
          <%= render :partial => "/share/new/blogcast_side_info", :locals => { :blogcast => @blogcast, :user => @user, :current_user => @current_user, :num_posts => @num_posts, :num_comments => @num_comments, :num_likes => @num_likes, :like => @like } -%>
          <%= render :partial => "/share/new/user_side_info", :locals => { :user => @user, :current_user => @current_user, :num_blogcasts => @num_user_blogcasts, :num_subscriptions => @num_user_subscriptions, :num_subscribers => @num_user_subscribers, :subscription => @subscription } -%>
        </td>
      </tr>
    </table>
    <%= render :partial => "/share/new/content_footer" -%>
  </div>
</div>
