<div id="alert" style="display: none;">
</div>
<div id="content-container">
  <div id="content">
    <%= render :partial => "/share/new/header", :locals => { :user => @user } -%>
    <table id="content-table" cellspacing="0">
      <tr>
        <td id="main" class="pagination">
          <ul id="blogcast-navigation">
            <li>
              <%= link_to "Go to #{@blogcast.title} &rArr;", blogcast_permalink_path, :class => "navigation-link" -%>
            </li>
          </ul>
          <h1 class="inline">Posts</h1>
          <span class="subtitle"><%= @blogcast.title -%></span>
          <div class="showing">
            Showing <%= @num_first_post -%>-<%= @num_last_post -%> of <%= @num_paginated_posts -%> posts...
          </div>
          <ol id="posts">
<% for post in @paginated_posts -%>
  <%- if post.instance_of?(TextPost) -%>
            <%= render :partial => "/share/new/text_post", :locals => {:text_post => post} -%>
  <%- elsif post.instance_of?(ImagePost) -%>
            <%= render :partial => "/share/new/image_post", :object => post -%>
  <%- elsif !post.instance_of?(CommentPost) -%>
            <%= render :partial => "/share/new/comment_post", :object => post -%>
  <%- end -%>
<% end -%>
          </ol>
<% if @num_first_post <= @num_posts -%>
          <div class="pagination">
  <%- if !@previous_page.nil? -%>
            <%= link_to "&lArr; Back", blogcast_posts_permalink_path(:page => @previous_page, :id => @id), :class => "back navigation-link" %>
  <%- end -%>
            <%= @num_first_post -%>-<%= @num_last_post -%> of <%= @num_paginated_posts -%>
  <%- if !@next_page.nil? -%>
            <%= link_to "Next &rArr;", blogcast_posts_permalink_path(:page => @next_page, :id => @id), :class => "next navigation-link" %>
  <%- end -%>
          </div>
<% end -%>
        </td>
        <td id="side">
          <%= render :partial => "/share/new/blogcast_side_info", :locals => { :blogcast => @blogcast, :user => @blogcast_user, :current_user => current_user, :num_posts => @num_posts, :num_comments => @num_comments, :num_likes => @num_likes, :like => @like } -%>
          <%= render :partial => "/share/new/user_side_info", :locals => { :user => @blogcast_user, :current_user => current_user, :num_blogcasts => @num_blogcast_user_blogcasts, :num_subscriptions => @num_blogcast_user_subscriptions, :num_subscribers => @num_blogcast_user_subscribers, :subscription => @subscription } -%>
        </td>
      </tr>
    </table>
    <%= render :partial => "/share/new/content_footer" -%>
  </div>
</div>
