<div id="alert" style="display: none;">
</div>
<div id="wrapper" class="user three-column">
  <div id="header" class="small">
    <%- form_tag username_blogcast_search_permalink_path(:username => @blogcast_user.username, :year => @blogcast.year, :month => @blogcast.month, :day => @blogcast.day, :title => @blogcast.link_title) do -%>
      <%= label_tag :query, image_tag("magnifying_glass.png") -%>
      <%= text_field_tag :query, "Search \"#{@blogcast.title}\"", :onfocus => "if (this.value == 'Search \"#{@blogcast.title}\"') this.value = ''; jQuery('#header form').addClass('selected');", :onblur => "if (this.value == '') this.value = 'Search \"#{@blogcast.title}\"'; jQuery('#header form').removeClass('selected');" -%>
    <%- end -%>
    <%= link_to(image_tag("/images/logo-small.png", :border => 0, :class => "logo"), "/") %>
    <%= image_tag "/images/beta-small.png", :class => "beta" %>
    <div id="navigation">
<% if @user.instance_of?(BlogcastrUser) -%>
      <%= link_to image_tag(@user.setting.avatar.url(:small))+@user.username, profile_path(:username => @user.username), :class => "first user" %>
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path, :method => "delete" %>
<% elsif @user.instance_of?(FacebookUser) -%>
  <%- avatar_url = @user.get_avatar_url :small -%>
  <%- if avatar_url.nil? -%>
    <%- avatar_url = get_facebook_avatar_url @user.facebook_id %>
    <%- if avatar_url.nil? -%>
      <%- avatar = "http://static.ak.facebook.com/pics/q_silhouette_logo.gif" %>
    <%- end -%>
  <%- end -%>
  <%- username = @user.get_username -%>
  <%- if username.nil? -%>
    <%- username = get_facebook_name @user.facebook_id %>
  <%- end -%>
  <%- url = @user.get_url -%>
  <%- if url.nil? -%>
    <%- url = get_facebook_url @user.facebook_id %>
  <%- end -%>
      <%= link_to image_tag(avatar_url) + username, url, :class => "first user" %>
      <%= link_to "Sign up", sign_up_path %>
      <span onclick="FB.Connect.logout(blogcastrFacebookSignOut);">Sign out</span>
<% elsif @user.instance_of?(TwitterUser) -%>
      <%= link_to image_tag(@user.get_avatar_url(:small)) + @user.get_username, @user.get_url, :class => "first user" %>
      <%= link_to "Sign up", sign_up_path %>
      <span onclick="blogcastrTwitterSignOut();">Sign out</span>
<% else -%>
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", sign_in_path %>
<% end -%>
    </div>
    <div class="clear">
    </div>
  </div>
  <div id="content" class="three-column">
    <div id="left-side">
      <div class="upper-left-border-rounded-corner">
      </div>
      <div class="top-border-large">
      </div>
      <div class="upper-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
      <div class="background">
        <%= link_to image_tag(@blogcast_user.setting.avatar.url(:large), :class => "avatar"), profile_path(:username => @blogcast_user.username) %>
        <hr>
        <h4 class="first">Name:</h4>
        <p class="first"><%= @blogcast_user.setting.full_name %></p>
<% if !@blogcast_user.setting.location.nil? && @blogcast_user.setting.location != "" %>
        <br>
        <h4>Location:</h4>
        <p><%= @blogcast_user.setting.location %></p>
<% end -%>
        <div class="clear">
        </div>
        <hr>
        <div class="stats">
          <a class="first stat" href="<%= username_blogcasts_path :username => @blogcast_user.username -%>"><span class="counter"><%= @num_blogcasts -%></span><span class="name"><%= @num_blogcasts == 1 ? "Blogcast" : "Blogcasts" -%></span></a>
          <a class="second stat" href="<%= username_subscribers_path :username => @blogcast_user.username -%>"><span class="counter"><%= @num_subscribers -%></span><span class="name"><%= @num_subscribers == 1 ? "Subscriber" : "Subscribers" -%></span></a>
          <a class="last third stat" href="<%= username_subscriptions_path :username => @blogcast_user.username -%>"><span class="counter"><%= @num_subscriptions -%></span><span class="name"><%= @num_subscriptions == 1 ? "Subscription" : "Subscriptions" -%></span></a>
        </div>
      </div>
      <div class="last lower-left-border-rounded-corner">
      </div>
      <div class="last bottom-border-large">
      </div>
      <div class="last lower-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
    </div>
    <div id="main">
      <div class="upper-left-border-squared-corner">
      </div>
      <div class="top-border">
      </div>
      <div class="upper-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div id="top">
        <div id="title">
          <div class="side-border">
            <div class="upper-left-border-squared-corner-gray horizontal">
            </div>
            <div class="left-border-gray">
            </div>
            <div class="lower-left-border-squared-corner-gray horizontal">
            </div>
          </div>
          <h1><%= @blogcast.title -%></h1>
          <div class="side-border">
            <div class="upper-right-border-squared-corner-gray horizontal">
            </div>
            <div class="right-border-gray">
            </div>
            <div class="lower-right-border-squared-corner-gray horizontal">
            </div>
          </div>
        </div>
        <div class="social">
          <p>Share with friends and followers</p>
          <%= link_to_function image_tag("facebook-small.png"), "FB.Connect.streamPublish('', facebook_attachment)" -%>
<%- tweet = "Viewing \"" + @blogcast.title + "\" by " + @blogcast_user.username + "." -%>
<%- if !@blogcast.short_url.nil? -%>
  <%- tweet = tweet + " " + @blogcast.short_url -%>
<%- end -%>
          <%= link_to_function image_tag("twitter-small.png"), "blogcastrTwitterShare('#{tweet}')" -%>
<% if (@user.instance_of?(BlogcastrUser) && @user != @blogcast.user) -%>
          <span>|</span>
          <span id="like-link">
  <%- if @like.nil? -%>
            <%= link_to_remote "Like", :url => blogcast_likes_path(:blogcast_id => @blogcast.id), :failure => "alert('Error: Failed communicating with server. Unable to like \"#{@blogcast.title.gsub(/'/, "\\\\'")}\".');", :html => {:class => "like add"}, :condition => "remote_request == false", :before => "remote_request = true", :complete => "setTimeout('remote_request = false', 3500)" %>
  <%- else -%>
            <%= link_to_remote "Unlike", :url => blogcast_like_path(:blogcast_id => @blogcast.id, :id => @like.id), :method => "delete", :failure => "alert('Error: Failed communicating with server. Unable to unlike \"#{@blogcast.title.gsub(/'/, "\\\\'")}\".');", :html => {:class => "like delete"}, :condition => "remote_request == false", :before => "remote_request = true", :complete => "setTimeout('remote_request = false', 3500)" %>
  <%- end -%>
          </span>
<%- end -%>
        </div>
        <p>By <a class="user" href="<%= profile_path(:username => @blogcast_user.username) -%>"><%= @blogcast_user.username -%></a></span> on <span class="date"><%= @blogcast.starting_at.strftime("%B %e, %Y") -%></span></p>
          <div class="clear">
          </div>
<% if @user != @blogcast_user || 1 -%>
        <h2 onclick="blogcastrCollapsibleEvent(this, 'comment');">Comment<%= image_tag "down.png" -%></h2>
        <div id="comment">
  <%- if signed_in? -%>
          <% remote_form_for :comment, :url => blogcast_comments_path(:blogcast_id => @blogcast.id), :html => { :id => "comment_form", :method => "post"}, :complete => "$('comment_form').reset();" do |f| -%>
            <input id="jid" type="hidden" value="" name="jid"/>
            <%= f.hidden_field :from %>
            <%= f.text_area :text, :onfocus => "jQuery(this).addClass('selected');", :onblur => "if (this.value == '') jQuery(this).removeClass('selected')" %>
            <%= f.submit "Post" %>
          <%- end -%>
          <div class="clear">
          </div>
  <%- else -%>
          <p class="first">To comment on "<%= @blogcast.title -%>" sign up or sign in.</p>
          <div id="sign-up">
            <%= link_to "Sign up!", sign_up_path -%>
            <%= link_to "Sign in!", sign_in_path -%>
            <div class="clear">
            </div>
          </div>
          <p class="connect">Or connect with Facebook or Twitter.</p>
          <a href="#" onclick="FB.Connect.requireSession(blogcastrFacebookSignIn); return false;"><img id="facebook_connect_image" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif" alt="Facebook connect" /></a>
          <a href="#" onclick="blogcastrTwitterSignIn(); return false;"><img id="twitter_sign_in_image" src="/images/Sign-in-with-Twitter-darker.png" alt="Twitter sign in" /></a>
          <div class="clear">
          </div>
  <%- end -%>
        </div>
<% end -%>
      </div>
      <div class="lower-left-border-squared-corner">
      </div>
      <div class="bottom-border">
      </div>
      <div class="lower-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div class="upper-left-border-squared-corner">
      </div>
      <div class="top-border">
      </div>
      <div class="upper-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div id="bottom">
        <h2><span class="counter"><%= @num_posts -%></span><%= @num_posts == 1 ? "Post" : "Posts" -%></h2>
        <ol class="stream" id="public-stream">
<% @first = 0 -%>
<% @iter = 1 -%>
<% for post in @posts -%>
  <%- if (@iter == @posts.length) -%>
    <%- @first = 1 -%>
  <%- end -%>
  <%- if post.instance_of?(TextPost) -%>
          <%= render :partial => "text_post", :object => post -%>
  <%- elsif post.instance_of?(ImagePost) -%>
          <%= render :partial => "image_post", :object => post -%>
  <%- elsif post.instance_of?(AudioPost) -%>
          <%= render :partial => "audio_post", :object => post -%>
  <%- elsif post.instance_of?(CommentPost) -%>
          <%= render :partial => "comment_post", :object => post -%>
  <%- elsif post.instance_of?(Repost) -%>
          <%= render :partial => "repost", :object => post -%>
  <%- end -%>
  <% @iter = @iter + 1 -%>
<% end -%>
        </ol>
      </div>
      <div class="last lower-left-border-squared-corner">
      </div>
      <div class="last bottom-border">
      </div>
      <div class="last lower-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
    </div>
    <div id="side">
      <div class="upper-left-border-rounded-corner">
      </div>
      <div class="top-border-large">
      </div>
      <div class="upper-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
      <div class="background">
<% if @blogcast.starting_at > Time.now -%>
        <h4 class="first">Starts:</h4>
<% else -%>
        <h4 class="first">Started:</h4>
<% end -%>
        <p class="first date"><%= starting_at_in_words(@blogcast.starting_at) %></p>
        <br>
<% if !@blogcast.tags.nil? %>
        <h4>Tags:</h4>
        <p class="tags"><%= @blogcast.tags -%></p>
        <br>
<% end -%>
<% if !@blogcast.description.nil? %>
        <h4>Description:</h4>
        <p><%= @blogcast.description -%></p>
        <br>
<% end -%>
        <div class="clear">
        </div>
	<hr>
        <div id="stats">
          <a class="first stat" href="<%= username_blogcast_comments_permalink_path :username => @blogcast_user.username -%>"><span class="counter"><%= @num_comments -%></span><span class="name"><%= @num_comments == 1 ? "Comment" : "Comments" -%></span></a>
<% if @num_likes == 0 -%>
          <div class="stat second"><span class="counter">0</span><span class="name">Likes</span></div>
<% else -%>
          <h3 class="second" onclick="blogcastrCollapsibleEvent(this, 'likes');"><span class="counter"><%= @num_likes -%></span><span class="name"><%= @num_likes == 1 ? "Like" : "Likes" -%></span><%= image_tag "down.png" -%></h3>
          <div id="likes">
            <ul>
  <%- i = 0 -%>
  <%- for like in @likes -%>
    <%- if ((i%8) == 0) -%>
      <%- if (i < 8) -%>
              <li class="first top">
      <%- else -%>
              <li>
      <%- end -%>
    <%- else -%>
      <%- if (i < 8) -%>
              <li class="top">
      <%- else -%>
              <li>
      <%- end -%>
    <%- end -%>
                <%= link_to image_tag(like.setting.avatar.url(:small), :class => "avatar-small", :alt => "#{like.username}"), profile_path(:username => like.username), :title => "#{like.username}" %>
              </li>
    <%- i = i + 1 -%>
  <% end -%>
            </ul>
            <div class="clear">
            </div>
  <%- if @num_likes > 21 -%>
            <%= link_to "More", username_blogcast_likes_permalink_path, :class => "more" -%>
  <%- end -%>
          </div>
<% end -%>
          <div class="stat third"><span id="num-viewers" class="counter"><%= @num_viewers -%></span><span id="viewers" class="name"><%= @num_viewers == 1 ? "Viewer" : "Viewers" -%></span></div>
          <%= periodically_call_remote :url => blogcast_update_num_viewers_path(:blogcast_id => @blogcast.id), :frequency => 30 -%>
          <div class="last stat fourth"><span class="counter"><%= @num_views -%></span><span class="name"><%= @num_views == 1 ? "View" : "Views" -%></span></div>
        </div>
<% if @user.instance_of?(BlogcastrUser) -%>
  <%- if @user != @blogcast_user -%>
        <hr>
        <div id="email-reminder">
    <%- if @email_blogcast_reminder.nil? -%>
          <%= link_to_remote image_tag("email_add.png") + "<p>Email reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_email_reminders_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, failed to create email reminder for \\\"#{@blogcast.title}\\\"');", :html => {:class => "reminder"}, :method => "post" %>
    <%- else -%>
          <%= link_to_remote image_tag("email_delete.png") + "<p>Email reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_email_reminder_path(:blogcast_id => @blogcast.id, :id => @email_blogcast_reminder.id), :failure => "alert('Error communicating with server, failed to create email reminder for \\\"#{@blogcast.title}\\\"');", :html => {:class => "reminder"}, :method => "delete" %>
    <%- end -%>
        </div>
        <div class="clear">
        </div>
    <%- if @user.setting.mobile_phone_confirmed == true -%>
        <div id="sms-reminder">
      <%- if @sms_blogcast_notification.nil? -%>
          <%= link_to_remote image_tag("phone_add.png") + "<p>SMS reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_sms_reminders_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, failed to create sms reminder for \"#{@blogcast.title}\"');", :html => {:class => "reminder"}, :method => "post" %>
      <%- else -%>
          <%= link_to_remote image_tag("phone_delete.png") + "<p>SMS reminder for \"#{@blogcast.title}\"</p>", :url => blogcast_sms_reminder_path(:blogcast_id => @blogcast.id, :id => @sms_blogcast_reminder.id), :failure => "alert('Error communicating with server, failed to create sms reminder for \"#{@blogcast.title}\"');", :html => {:class => "reminder"}, :method => "delete" %>
      <%- end -%>
        </div>
        <div class="clear">
        </div>
    <%- end -%>
  <%- end -%>
<% end -%>
      </div>
      <div class="lower-left-border-rounded-corner">
      </div>
      <div class="bottom-border-large">
      </div>
      <div class="lower-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
    </div>
  </div>
  <div class="clear">
  </div>
  <div id="footer">
    <span>&copy; 2010 Blogcastr</span>
    <%= link_to "About", about_path -%>
    <a href="http://blogcastr.wordpress.com">Blog</a>
    <a href="http://www.facebook.com/blogcastr">Facebook</a>
    <%= link_to "FAQ", faq_path -%>
    <%= link_to "Privacy Policy", privacy_policy_path -%>
    <%= link_to "Terms of Service", terms_of_service_path -%>
    <a href="http://twitter.com/blogcastr">Twitter</a>
  </div>
</div>
