<div id="wrapper" class="user">
  <div id="header">
    <%= link_to(image_tag("/images/logo-small.png", :border => 0), "/") %>
    <div id="navigation">
<% if @user.instance_of?(BlogcastrUser) -%>
      <%= link_to image_tag(@user.setting.avatar.url(:small))+@user.username, profile_path(:username => @user.username), :class => "first" %>
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path, :method => "delete" %>
<% elsif @user.instance_of?(FacebookUser) -%>
  <%- avatar_url = @user.get_avatar_url :small -%>
  <%- if avatar_url.nil? -%>
    <%- avatar_url = get_facebook_avatar_url @user.facebook_id %>
    <%- if avatar_url.nil? -%>
      <%- avatar = "http://static.ak.facebook.com/pics/q_silhouette_logo.gif" %>
    <%- end -%>
  <%- end -%>
  <%- username = @user.get_username -%>
  <%- if username.nil? -%>
    <%- username = get_facebook_name @user.facebook_id %>
  <%- end -%>
  <%- url = @user.get_url -%>
  <%- if url.nil? -%>
    <%- url = get_facebook_url @user.facebook_id %>
  <%- end -%>
      <%= link_to image_tag(avatar_url) + username, url, :class => "first" %>
      <%= link_to "Sign up", sign_up_path %>
      <span onclick="FB.Connect.logout(blogcastrFacebookSignOut);">Sign out</span>
<% elsif @user.instance_of?(TwitterUser) -%>
      <%= link_to image_tag(@user.get_avatar_url(:small)) + @user.get_username, @user.get_url, :class => "first" %>
      <%= link_to "Sign up", sign_up_path %>
      <span onclick="blogcastrTwitterSignOut();">Sign out</span>
<% else -%>
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", sign_in_path %>
<% end -%>
    </div>
    <div class="clear">
    </div>
  </div>
  <div id="content">
    <div id="main">
      <div class="upper-left-border-squared-corner">
      </div>
      <div class="top-border">
      </div>
      <div class="upper-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div id="top">
        <div id="title">
          <div class="side-border">
            <div class="upper-left-border-squared-corner-gray horizontal">
            </div>
            <div class="left-border-gray">
            </div>
            <div class="lower-left-border-squared-corner-gray horizontal">
            </div>
          </div>
          <h1><a href="<%= profile_path(:username => @blogcast_user.username) -%>"><%= image_tag(@blogcast_user.setting.avatar.url(:medium), :class => "avatar") -%></a><%= @blogcast.title -%></h1>
          <div class="side-border">
            <div class="upper-right-border-squared-corner-gray horizontal">
            </div>
            <div class="right-border-gray">
            </div>
            <div class="lower-right-border-squared-corner-gray horizontal">
            </div>
          </div>
        </div>
        <p>By <a href="<%= profile_path(:username => @blogcast_user.username) -%>" class="user"><%= @blogcast_user.username -%></a> on <span class="date"><%= @blogcast.starting_at.strftime("%B %e, %Y") -%></span>
        <h2 onclick="blogcastrCollapsibleEvent(this, 'comment');">Comment<%= image_tag "down.png" -%></h2>
        <div id="comment">
<% if signed_in? -%>
          <% remote_form_for :comment, :url => blogcast_comments_path(:blogcast_id => @blogcast.id), :html => { :id => "comment_form", :method => "post"}, :complete => "$('comment_form').reset();" do |f| -%>
            <input id="jid" type="hidden" value="" name="jid"/>
            <%= f.hidden_field :from %>
            <%= f.text_area :text, :onfocus => "jQuery(this).addClass('selected');", :onblur => "if (this.value == '') jQuery(this).removeClass('selected')" %>
            <%= f.submit "Post" %>
          <%- end -%>
          <div class="clear">
          </div>
<% else -%>
          <p class="first">To comment on "<%= @blogcast.title -%>" sign up or sign in.</p>
          <div id="sign-up">
            <%= link_to "Sign up!", sign_up_path -%>
            <%= link_to "Sign in!", sign_in_path -%>
            <div class="clear">
            </div>
          </div>
          <p class="connect">Or connect with Facebook or Twitter.</p>
          <a href="#" onclick="FB.Connect.requireSession(blogcastrFacebookSignIn); return false;"><img id="facebook_connect_image" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif" alt="Facebook connect" /></a>
          <a href="#" onclick="blogcastrTwitterSignIn(); return false;"><img id="twitter_sign_in_image" src="/images/Sign-in-with-Twitter-darker.png" alt="Twitter sign in" /></a>
          <div class="clear">
          </div>
<% end -%>
        </div>
      </div>
      <div class="lower-left-border-squared-corner">
      </div>
      <div class="bottom-border">
      </div>
      <div class="lower-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div class="upper-left-border-squared-corner">
      </div>
      <div class="top-border">
      </div>
      <div class="upper-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div id="bottom">
        <h2><span class="counter"><%= @num_posts -%></span><%= @num_posts == 1 ? "Post" : "Posts" -%></h2>
        <ol class="stream" id="public-stream">
<% @first = 1 -%>
<% for post in @posts -%>
  <%- if post.instance_of?(TextPost) -%>
          <%= render :partial => "text_post", :object => post -%>
  <%- elsif post.instance_of?(ImagePost) -%>
          <%= render :partial => "image_post", :object => post -%>
  <%- elsif post.instance_of?(CommentPost) -%>
          <%= render :partial => "comment_post", :object => post -%>
  <%- elsif post.instance_of?(Repost) -%>
          <%= render :partial => "repost", :object => post -%>
  <%- end -%>
  <%- if (@first == 1) -%>
    <%- @first = 0 -%>
  <%- end -%>
<% end -%>
        </ol>
      </div>
      <div class="lower-left-border-squared-corner">
      </div>
      <div class="bottom-border">
      </div>
      <div class="lower-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
    </div>
    <div id="side">
      <div class="upper-left-border-rounded-corner">
      </div>
      <div class="top-border-large">
      </div>
      <div class="upper-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
      <div class="background">
<% if @blogcast.starting_at > Time.now -%>
        <h4 class="first">Starts:</h4>
<% else -%>
        <h4 class="first">Started:</h4>
<% end -%>
        <p class="first date"><%= starting_at_in_words(@blogcast.starting_at) %></p>
        <br>
<% if !@blogcast.tags.nil? %>
        <h4>Tags:</h4>
        <p class="tags"><%= @blogcast.tags -%></p>
        <br>
<% end -%>
<% if !@blogcast.description.nil? %>
        <h4>Description:</h4>
        <p><%= @blogcast.description -%></p>
        <br>
<% end -%>
        <div class="clear">
        </div>
	<hr>
        <div id="stats">
          <a class="first stat" href="<%= username_blogcast_comments_permalink_path :username => @blogcast_user.username -%>"><span class="counter"><%= @num_comments -%></span><span class="name"><%= @num_comments == 1 ? "Comment" : "Comments" -%></span></a>
          <h3 class="second" onclick="blogcastrCollapsibleEvent(this, 'likes');"><span class="counter"><%= @num_likes -%></span><span class="name"><%= @num_likes == 1 ? "Like" : "Likes" -%></span><%= image_tag "down.png" -%></h3>
          <div id="likes">
            <ul>
<% for like in @likes -%>
              <li>
                <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{like.setting.avatar.url(:small)}');\"></div>", profile_path(:username => like.username), :target => "_blank" %>
              </li>
<% end -%>
           </ul>
          </div>
          <div class="stat third"><span class="counter"><%= @num_viewers -%></span><span class="name"><%= @num_viewers == 1 ? "Viewer" : "Viewers" -%></span></div>
          <div class="last stat fourth"><span class="counter"><%= @num_views -%></span><span class="name"><%= @num_views == 1 ? "View" : "Views" -%></span></div>
        </div>
<% if @user.instance_of?(BlogcastrUser) -%>
  <%- if @user != @blogcast_user -%>
        <hr>
        <div id="email-notification">
    <%- if @email_blogcast_notification.nil? -%>
          <%= link_to_remote image_tag("email_add.png") + "<p>Email notification for \"#{@blogcast.title}\"</p>", :url => blogcast_email_notifications_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, failed to create email notification for \\\"#{@blogcast.title}\\\"');", :html => {:class => "notification"}, :method => "post" %>
    <%- else -%>
          <%= link_to_remote image_tag("email_delete.png") + "<p>Email notification for \"#{@blogcast.title}\"</p>", :url => blogcast_email_notification_path(:blogcast_id => @blogcast.id, :id => @email_blogcast_notification.id), :failure => "alert('Error communicating with server, failed to create email notification for \\\"#{@blogcast.title}\\\"');", :html => {:class => "notification"}, :method => "delete" %>
    <%- end -%>
        </div>
        <div class="clear">
        </div>
    <%- if @user.setting.mobile_confirmed == true -%>
        <div id="sms-notification">
      <%- if @sms_blogcast_notification.nil? -%>
          <%= link_to_remote image_tag("phone_add.png") + "<p>SMS notification for \"#{@blogcast.title}\"</p>", :url => blogcast_sms_notifications_path(:blogcast_id => @blogcast.id), :failure => "alert('Error communicating with server, failed to create sms notification for \"#{@blogcast.title}\"');", :html => {:class => "notification"}, :method => "post" %>
      <%- else -%>
          <%= link_to_remote image_tag("phone_delete.png") + "<p>SMS notification for \"#{@blogcast.title}\"</p>", :url => blogcast_sms_notification_path(:blogcast_id => @blogcast.id, :id => @sms_user_notification.id), :failure => "alert('Error communicating with server, failed to create sms notification for \"#{@blogcast.title}\"');", :html => {:class => "notification"}, :method => "delete" %>
      <%- end -%>
        </div>
        <div class="clear">
        </div>
    <%- end -%>
  <%- end -%>
<% end -%>
      </div>
      <div class="lower-left-border-rounded-corner">
      </div>
      <div class="bottom-border-large">
      </div>
      <div class="lower-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
    </div>
  </div>
  <div class="clear">
  </div>
  <div id="footer">
    <span>&copy; 2010 Blogcastr</span>
    <%= link_to "About", about_path -%>
    <a href="http://blogcastr.wordpress.com">Blog</a>
    <a href="http://www.facebook.com/blogcastr">Facebook</a>
    <%= link_to "FAQ", faq_path -%>
    <%= link_to "Privacy Policy", privacy_policy_path -%>
    <%= link_to "Terms of Service", terms_of_service_path -%>
    <a href="http://twitter.com/blogcastr">Twitter</a>
  </div>
</div>
