<div id="wrapper" class="user">
  <div id="header">
      <%= link_to(image_tag("/images/logo-small.png", :border => 0), "/") %>
    <div id="navigation">
<% if @user.instance_of?(BlogcastrUser) -%>
      <%= link_to image_tag(@user.setting.avatar.url(:small))+@user.username, profile_path(:username => @user.username), :class => "first" %>
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path, :method => "delete" %>
<% elsif @user.instance_of?(FacebookUser) -%>
  <%- avatar = @user.get_avatar_url :small %>
  <%- if avatar.nil? -%>
      <%- avatar = get_facebook_avatar_url %>
  <%- end -%>
  <%- if avatar.nil? -%>
      <%= link_to @user.get_username, @user.get_url %>
  <%- else -%>
      <%= link_to image_tag(avatar) + @user.get_username, @user.get_url, :class => "first" %>
  <%- end -%>
      <%= link_to "Sign up", sign_up_path %>
      <span onclick="FB.Connect.logout(blogcastrFacebookSignOut);">Sign out</span>
<% elsif @user.instance_of?(TwitterUser) -%>
      <%= link_to image_tag(@user.get_avatar_url(:small)) + @user.get_username, @user.get_url, :class => "first" %>
      <%= link_to "Sign up", sign_up_path %>
      <span onclick="blogcastrTwitterSignOut();">Sign out</span>
<% else -%>
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", sign_in_path %>
<% end -%>
    </div>
    <div class="clear">
    </div>
  </div>
  <div id="content">
    <div id="main">
      <div class="upper-left-border-squared-corner">
      </div>
      <div class="top-border">
      </div>
      <div class="upper-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div id="top">
        <div id="title">
          <div class="side-border">
            <div class="upper-left-border-squared-corner-gray horizontal">
            </div>
            <div class="left-border-gray">
            </div>
            <div class="lower-left-border-squared-corner-gray horizontal">
            </div>
          </div>
          <div class="background">
            <h1><%= @blogcast.title -%></h1>
            <hr>
            <span class="date"><%= @blogcast.starting_at.strftime("%B %e, %Y") %></span>
            <div class="align">
              <a href="<%= profile_path(:username => @blogcast_user.username) -%>"><%= image_tag(@blogcast_user.setting.avatar.url(:small), :class => "avatar") -%><span class="username"><%= @blogcast_user.username -%></span></a>
            </div>
          </div>
          <div class="side-border">
            <div class="upper-right-border-squared-corner-gray horizontal">
            </div>
            <div class="right-border-gray">
            </div>
            <div class="lower-right-border-squared-corner-gray horizontal">
            </div>
          </div>
        </div>
<% if @user.instance_of?(BlogcastrUser) -%>
        <p>Like it?</p>
        <p>Let other people know!</p>
        <div class="facebook" onclick="FB.Connect.streamPublish('',facebook_attachment);">Post to Facebook</div>
        <a class="twitter" href="<%= @tweet_url -%>" target="_blank">Tweet</a>
<%- else -%>
        <p>Share with friends and followers!</p>
        <div class="facebook" onclick="FB.Connect.streamPublish('',facebook_attachment);">Post to Facebook</div>
        <a class="twitter" href="<%= @tweet_url -%>" target="_blank">Tweet</a>
<%- end -%>
        <h2 onclick="blogcastrCollapsibleEvent(this, 'comment');">Comment<%= image_tag "down.png" -%></h2>
        <div id="comment">
        <p>To comment on "<%= @blogcast.title -%>" or tell your friends about it sign up or sign in.</p>
        <div id="sign-up">
          <%= link_to "Sign up!", sign_up_path -%>
          <%= link_to "Sign in!", sign_in_path, :class => "last" -%>
          <div class="clear">
          </div>
        </div>
        <p>Or connect with Facebook or Twitter.</p>
        <div id="comment-effect-outer">
        <div id="comment-effect-inner">
<% if signed_in? -%>
  <%- if signed_in_as_blogcastr_user? -%>
            <p>Send <%= @blogcast_user.username -%> a comment.</p>
  <%- elsif signed_in_as_facebook_user? -%>
            <p>Send <%= @blogcast_user.username -%> a comment. <a class="sign-out" href="#" onclick="FB.Connect.logout(blogcastrFacebookSignOut); return false;">Sign out</a> of Facebook.</p>
            <div onclick="var attachment = {'name':'Google','href':'http://www.google.com/','description':'Google Home Page'};  FB.Connect.streamPublish('',attachment);">Post to Facebook</div>
  <%- elsif signed_in_as_twitter_user? -%>
            <p>Send <%= @blogcast_user.username -%> a comment. <a class="sign-out" href="#" onclick="blogcastrTwitterSignOut(); return false;">Sign out</a> of Twitter.</p>
  <%- end -%>
            <% remote_form_for :comment, :url => blogcast_comments_path(:blogcast_id => @blogcast.id), :html => { :id => "comment_form", :method => "post"}, :complete => "$('comment_form').reset();" do |f| -%>
              <input id="jid" type="hidden" value="" name="jid"/>
              <%= f.hidden_field :from %>
              <%= f.label :text, "Text" %>
              <br>
              <%= f.text_area :text %>
	      <br>
              <%= f.submit "Submit" %>
            <%- end -%>
            <div class="clear">
            </div>
<% else -%>
            <p>To send <%= @blogcast_user.username -%> a comment sign in or connect.</p>
            <a href="#" onclick="FB.Connect.requireSession(blogcastrFacebookSignIn); return false;"><img id="facebook_connect_image" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif" alt="Facebook connect" /></a>
            <a href="#" onclick="blogcastrTwitterSignIn(); return false;"><img id="twitter_sign_in_image" src="/images/Sign-in-with-Twitter-darker.png" alt="Twitter sign in" /></a>
<% end -%>
          </div>
        </div>
      </div>
      </div>
      <div class="lower-left-border-squared-corner">
      </div>
      <div class="bottom-border">
      </div>
      <div class="lower-right-border-squared-corner">
      </div>
      <div class="clear">
      </div>
      <div class="background">
        <h3><span class="counter-medium"><%= @num_posts -%></span> <%= @num_posts == 1 ? "Post" : "Posts" -%></h3>
        <ol class="stream" id="public-stream">
<%- for post in @posts -%>
  <%- if post.instance_of?(TextPost) -%>
          <%= render :partial => "text_post", :object => post -%>
  <%- elsif post.instance_of?(ImagePost) -%>
          <%= render :partial => "image_post", :object => post -%>
  <%- elsif post.instance_of?(CommentPost) -%>
          <%= render :partial => "comment_post", :object => post -%>
  <%- elsif post.instance_of?(Repost) -%>
          <%= render :partial => "repost", :object => post -%>
  <%- end -%>
<%- end -%>
        </ol>
      </div>
    </div>
    <div id="side">
      <div class="upper-left-border-rounded-corner">
      </div>
      <div class="top-border-large">
      </div>
      <div class="upper-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
      <div class="background">
<% if @blogcast.starting_at > Time.now -%>
        <h4 class="first">Starts:</h4>
<% else -%>
        <h4 class="first">Started:</h4>
<% end -%>
        <p class="first date"><%= starting_at_in_words(@blogcast.starting_at) %></p>
        <br>
<% if !@blogcast.tags.nil? %>
        <h4>Tags:</h4>
        <p class="tags"><%= @blogcast.tags -%></p>
        <br>
<% end -%>
<% if !@blogcast.description.nil? %>
        <h4>Description:</h4>
        <p><%= @blogcast.description -%></p>
        <br>
<% end -%>
        <div class="clear">
        </div>
	<hr>
        <div id="stats">
          <a class="first stat" href="<%= username_blogcast_comments_permalink_path :username => @blogcast_user.username -%>"><span class="counter"><%= @num_comments -%></span><span class="name"><%= @num_comments == 1 ? "Comment" : "Comments" -%></span></a>
          <h3 class="second" onclick="blogcastrCollapsibleEvent(this, 'likes');"><span class="counter"><%= @num_likes -%></span><span class="name"><%= @num_likes == 1 ? "Like" : "Likes" -%></span><%= image_tag "down.png" -%></h3>
          <div id="likes">
            <ul>
<% for like in @likes -%>
              <li>
                <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{like.setting.avatar.url(:small)}');\"></div>", profile_path(:username => like.username), :target => "_blank" %>
              </li>
<% end -%>
           </ul>
          </div>
          <div class="stat third"><span class="counter"><%= @num_viewers -%></span><span class="name"><%= @num_viewers == 1 ? "Viewer" : "Viewers" -%></span></div>
          <div class="last stat fourth"><span class="counter"><%= @num_views -%></span><span class="name"><%= @num_views == 1 ? "View" : "Views" -%></span></div>
        </div>
        <hr>
        <p>Notifications go here</p>
      </div>
      <div class="lower-left-border-rounded-corner">
      </div>
      <div class="bottom-border-large">
      </div>
      <div class="lower-right-border-rounded-corner">
      </div>
      <div class="clear">
      </div>
    </div>
  </div>
  <div class="clear">
  </div>
  <div id="footer">
    <span>&copy; 2010 Blogcastr</span>
    <%= link_to "About", about_path -%>
    <a href="http://blogcastr.wordpress.com">Blog</a>
    <a href="http://www.facebook.com/blogcastr">Facebook</a>
    <%= link_to "FAQ", faq_path -%>
    <%= link_to "Privacy Policy", privacy_policy_path -%>
    <%= link_to "Terms of Service", terms_of_service_path -%>
    <a href="http://twitter.com/blogcastr">Twitter</a>
  </div>
</div>
