<div id="container">
  <div id="header-container">
    <div id="header">
<% if @user.instance_of?(BlogcastrUser) -%>
      <ul id="navigation-container">
          <li>
            <%= link_to "Home", home_path %>
          </li>
          <li>
            <%= link_to "Settings", settings_path %>
          </li>
          <li>
            <%= link_to "Sign out", sign_out_path, :method => "delete" %>
          </li>
      </ul>
      <div id="welcome">
        <%= link_to "<div id=\"welcome-avatar\" class=\"medium-rounded-avatar\" style=\"background-image: url('" + @user.setting.avatar.url(:medium) + "')\"></div>", profile_path(:username => @user.username) %>
        Welcome,
        <br>
        <%= link_to @user.username, profile_path(:username => @user.username), :class => "username" -%>
      </div>
<% elsif @user.instance_of?(FacebookUser) -%>
<% elsif @user.instance_of?(TwitterUser) -%>
<% else -%>
      <div id="sign-in-or-sign-up-container">
        <%= link_to "Sign In", sign_in_path, :id => "sign-in-button", :class => "blue-button" %>
        <%= link_to "Sign Up", sign_up_path, :id => "sign-up-button", :class => "orange-button" %>
      </div>
<% end -%>
      <%- form_tag search_path(:controller => "search"), :method => "get", :id => "header-search" do -%> 
        <%= text_field_tag :query, "Search #{@profile_user.username}...", :onfocus => "if (this.value == 'Search #{@profile_user.username}...') this.value = '';", :onblur => "if (this.value == '') this.value = 'Search #{@profile_user.username}...';" -%> 
      <%- end -%> 
    </div>
  </div>
  <table id="content" cellspacing="0">
    <tr>
      <td id="main">
<%- if @user.nil? -%>
        <div class="button-container">
          <%= link_to "Subscribe", sign_in_path, :id => "subscription-button", :class => "blue-button" %>
        </div>
<%- elsif @user == @profile_user -%>
        <ul id="profile-navigation">
          <li>
            <%= link_to "Go to home &rarr", home_path, :class => "navigation-link" %>
          </li>
          <li>
            <%= link_to "Edit profile &rarr", settings_path, :class => "navigation-link" %>
          </li>
        </ul>
<%- else -%>
        <div class="button-container">
  <%- if @subscription.nil? -%>
          <%= link_to_remote "Subscribe", :html => {:id => "subscription-button", :class => "blue-button"}, :url => subscriptions_path(:user_id => @profile_user.id), :failure => "alert('Error communicating with server, unable to subscribe to #{@profile_user.username}');", :condition => "remote_request == false", :before => "remote_request = true", :complete => "setTimeout('remote_request = false', 3500)" -%>
  <%- else -%>
          <%= link_to_remote "Unsubscribe", :html => {:id => "subscription-button", :class => "blue-button"}, :url => subscription_path(:id => @subscription.id), :method => "delete", :failure => "alert('Error communicating with server, unable to unsubscribe from #{@profile_user.username}');", :condition => "remote_request == false", :before => "remote_request = true", :complete => "setTimeout('remote_request = false', 3500)" -%>
  <%- end -%>
        </div>
<%- end -%>
        <%= link_to "<div id=\"profile-avatar\" class=\"large-rounded-avatar\" style=\"background-image: url('" + @profile_user.setting.avatar.url(:large) + "')\"></div>", @profile_user.setting.avatar.url(:original) %>
        <div id="profile-info-container">
          <div id="full-name">
            <%= @profile_user.setting.full_name -%>
          </div>
<%- if !@profile_user.setting.location.nil? -%>
         <div id="location-and-web">
  <%- if !@profile_user.setting.web.nil? -%>
           <%= @profile_user.setting.location + " &bull; " + link_to(@profile_user.setting.web, @profile_user.setting.web) -%> 
  <%- else -%>
           <%= @profile_user.setting.location -%> 
  <%- end -%>
         </div>
<%- elsif !@profile_user.setting.web.nil? -%>
         <div id="location-and-web">
           <%= @profile_user.setting.web -%> 
         </div>
<%- end -%> 
<%- if !@profile_user.setting.bio.nil? -%>
         <div id="bio">
           <%= @profile_user.setting.bio -%> 
         </div>
<%- end -%> 
        </div> 
      </td>
      <td id="side">
        <div id="username">
          <%= @profile_user.username -%>
        </div>
        <div class="arrow">
        </div>
        <div class="side-details-container">
          <ul class="stats-container">
            <li class="stat">
              <span class="stat-counter"><%= @num_blogcasts -%></span> <%= link_to @num_blogcasts == 1 ? "Blogcast" : "Blogcasts", username_blogcasts_path(@profile_user.username) -%>
            </li>
            <li class="stat">
              <span class="stat-counter"><%= @num_posts -%></span> <%= link_to @num_posts == 1 ? "Post" : "Posts", username_posts_path(@profile_user.username) -%>

            </li>
            <li class="stat">
              <span class="stat-counter"><%= @num_comments -%></span> <%= link_to @num_comments == 1 ? "Comment" : "Comments", username_comments_path(@profile_user.username) -%>

            </li>
            <li class="stat">
              <span class="stat-counter"><%= @num_likes -%></span> <%= link_to @num_likes == 1 ? "Favorite" : "Favorites", username_likes_path(@profile_user.username) -%>
            </li>
          </ul>
          <div class="avatar-stat-container">
            <%= link_to @num_subscriptions.to_s + " " + (@num_subscriptions == 1 ? "Subscription" : "Subscriptions"), username_subscriptions_path(@profile_user.username), :class => "stat" -%> 
<%- if @num_subscriptions > 0 -%>
            <ul class="avatar-list clearfix">
  <%- for subscription in @subscriptions -%>
              <li>
                <%= link_to image_tag(subscription.setting.avatar.url(:small), :class => "avatar small", :alt => "#{subscription.username}"), profile_path(:username => subscription.username), :title => "#{subscription.username}" %>
              </li>
  <%- end -%>
            </ul>
<%- end -%>
          </div>
          <div class="avatar-stat-container">
            <%= link_to @num_subscribers.to_s + " " + (@num_subscribers == 1 ? "Subscriber" : "Subscribers"), username_subscribers_path(@profile_user.username), :class => "stat" -%> 
<%- if @num_subscribers > 0 -%>
            <ul class="avatar-list clearfix">
  <%- for subscriber in @subscribers -%>
              <li>
                <%= link_to image_tag(subscriber.setting.avatar.url(:small), :class => "avatar small", :alt => "#{subscriber.username}"), profile_path(:username => subscriber.username), :title => "#{subscriber.username}" %>
              </li>
  <%- end -%>
            </ul>
<%- end -%>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
