<% is_profile = nil if !defined?(show_controls) -%>
<div id="header" class="small">
<% if is_profile -%>
  <%- form_tag user_search_path(:username => @profile_user.username, :controller => "users/search") do -%>
<% else %>
  <%- form_tag user_search_path(:username => @profile_user.username, :controller => "users/search") do -%>
<% end %>
    <%= label_tag :query, image_tag("magnifying_glass.png") -%>
    <%= text_field_tag :query, "Search #{@profile_username_possesive} Blogcastr", :onfocus => "if (this.value == 'Search #{@profile_username_possesive_escaped} Blogcastr') this.value = ''; jQuery('#header form').addClass('selected');", :onblur => "if (this.value == '') this.value = 'Search #{@profile_username_possesive_escaped} Blogcastr'; jQuery('#header form').removeClass('selected');" -%>
  <%- end -%>
  <%= link_to(image_tag("/images/logo-small.png", :class => "logo"), "/") %>
  <%= image_tag "/images/beta-small.png", :class => "beta" %>
  <div id="navigation">
<% if @user.instance_of?(BlogcastrUser) -%>
    <%= link_to image_tag(@user.setting.avatar.url(:small)) + @user.username, profile_path(:username => @user.username), :class => "user" %>
    <%= link_to "Home", home_path %>
    <%= link_to "Settings", settings_path %>
    <%= link_to "Sign out", sign_out_path, :method => "delete" %>
<% elsif @user.instance_of?(FacebookUser) -%>
  <%- avatar = @user.get_avatar_url :small %>
  <%- if avatar.nil? -%>
    <%- avatar = get_facebook_avatar_url @user.facebook_id %>
  <%- end -%>
  <%- if avatar.nil? -%>
    <%= link_to image_tag("http://static.ak.facebook.com/pics/q_silhouette_logo.gif") + @user.get_username, @user.get_url, :class => "first" %>
  <%- else -%>
    <%= link_to image_tag(avatar) + @user.get_username, @user.get_url, :class => "first user" %>
  <%- end -%>
    <%= link_to "Sign up", sign_up_path %>
    <span class="button" onclick="FB.Connect.logout(blogcastrFacebookSignOut);">Sign out</span>
<% elsif @user.instance_of?(TwitterUser) -%>
    <%= link_to image_tag(@user.get_avatar_url(:small)) + @user.get_username, @user.get_url, :class => "first user" %>
    <%= link_to "Sign up", sign_up_path %>
    <span onclick="blogcastrTwitterSignOut();">Sign out</span>
<% else -%>
    <%= link_to "Sign up", sign_up_path %>
    <%= link_to "Sign in", sign_in_path %>
<% end -%>
  </div>
  <div class="clear">
  </div>
</div>
