<div id="content-container" class="sign-in-and-sign-up-content-container">
  <div id="content">
    <%= render :partial => "share/new/marketing_header" %>
    <div id="main" class="sign-in-main">
      <h1>Change Password</h1>
      <% form_for(:user, :url => user_password_path(@user, :token => @user.confirmation_token), :html => { :method => :put }) do |form| %>
        <%= form.error_messages :id => "error-message", :class => "flash-message", :header_message => "Oops!", :message => nil %>
        <%= form.label :password, "Password", :id => "change-password-password-label", :class => "sign-in-sign-up-label" %>
        <%= form.password_field :password, :class => "sign-in-text-field" %>
        <div class="text-field-description">
          At least six characters
        </div>
        <%= form.label :password_confirmation, "Confirm password", :class => "sign-in-sign-up-label" %>
        <%= form.password_field :password_confirmation, :class => "sign-in-text-field" %>
        <div id="sign-in-sign-up-button-container" class="clearfix">
          <%= form.submit "Submit", :class => "sign-in-sign-up-button blue-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
