<div id="content-container" class="sign-in-and-sign-up-content-container">
  <div id="content">
    <%= render :partial => "share/new/marketing_header" %>
    <div id="main" class="sign-in-main">
      <h1>Forgot Password?</h1>
      <% form_for :password, :url => passwords_path do |form| %>
<%- if !flash[:error].nil? -%>
        <div id="error-message" class="flash-message">
          <h2><%= flash[:error] -%></h2>
        </div>            
<%- elsif !flash[:info].nil? -%>
        <div id="info-message" class="flash-message">
          <h2><%= flash[:info] -%></h2>            
        </div>            
<%- end -%>
        <%= form.label :email, "Email address", :id => "forgot-password-email-label", :class => "sign-in-sign-up-label" %>
        <%= form.text_field :email, :class => "sign-in-text-field" %>
        <div class="text-field-description">
          You'll get an email with instuctions on resetting your password
        </div>
        <div id="sign-in-sign-up-button-container" class="clearfix">
          <%= form.submit "Submit", :class => "sign-in-sign-up-button blue-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
