<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Blogcastr Sign In</title>
    <%= stylesheet_link_tag "blogcastr.css", :media => "screen" %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <a href="/"><img src="/images/logo.png" alt="Blogcastr" border=0></img></a>
        <div id="navigation">
          <%= link_to "Sign up", sign_up_path %>
          <%= link_to "Sign in", sign_in_path %>
        </div>
      </div>
      <div id="content" class="one-column">
        <div id="main">
          <div id="title">
            <div id="side-border">
              <div class="upper-left-border-squared-corner-gray">
              </div>
              <div class="left-border-gray">
              </div>
              <div class="lower-left-border-squared-corner-gray">
              </div>
            </div>
            <h1>Forget your password?</h1>
            <div id="side-border">
              <div class="upper-right-border-squared-corner-gray">
              </div>
              <div class="right-border-gray">
              </div>
              <div class="lower-right-border-squared-corner-gray">
              </div>
            </div>
          </div>
          <div class="upper-left-border-squared-corner-blue">
          </div>
          <div class="top-border-blue">
          </div>
          <div class="upper-right-border-squared-corner-blue">
          </div>
          <div class="clear">
          </div>
          <div id="background">
            <% form_tag passwords_path do %>
<%- if !flash[:error].nil? -%>
              <div class="error">
                <h2><%= flash[:error] -%></h2>
              </div>            
<%- elsif !flash[:info].nil? -%>
              <h2 class="info"><%= flash[:info] -%></h2>            
<%- end -%>
            <%= label_tag :email, "Please enter your email address and we will send you instructions on how to reset your password." %>
            <%= text_field_tag :email %>
            <%= submit_tag "Submit", :class => "button" %>
          <% end %>
          </div>
          <div class="lower-left-border-squared-corner-blue">
          </div>
          <div class="bottom-border-blue">
          </div>
          <div class="lower-right-border-squared-corner-blue">
          </div>
          <div class="clear">
          </div>
        </div>
      </div>
      <div class="clear">
      </div>
      <div id="footer">
        <span>&copy; 2010 Blogcastr</span>
        <a href="http://blogcastr.wordpress.com">Blog</a>
        <%= link_to "About", about_path -%>
        <%= link_to "FAQ", faq_path -%>
        <%= link_to "Terms of Service", terms_of_service_path -%>
        <%= link_to "Privacy Policy", privacy_policy_path -%>
      </div>
    </div>
  </body>
</html>
