<div id="alert" style="display: none;">
</div>
<div id="wrapper" class="user">
  <div id="header" class="small">
    <%- form_tag user_search_path(:username => @profile_user.username, :controller => "users/search") do -%>
      <%= label_tag :query, image_tag("magnifying_glass.png") -%>
      <%= text_field_tag :query, "Search #{@profile_username_possesive} Blogcastr", :onfocus => "if (this.value == 'Search #{@profile_username_possesive_escaped} Blogcastr') this.value = ''; jQuery('#header form').addClass('selected');", :onblur => "if (this.value == '') this.value = 'Search #{@profile_username_possesive_escaped} Blogcastr'; jQuery('#header form').removeClass('selected');" -%>
    <%- end -%>
    <%= link_to(image_tag("/images/logo-small.png", :class => "logo"), "/") %>
    <%= image_tag "/images/beta-small.png", :class => "beta" %>
    <div id="navigation">
<% if @user.instance_of?(BlogcastrUser) -%>
      <%= link_to image_tag(@user.setting.avatar.url(:small)) + @user.username, profile_path(:username => @user.username), :class => "user" %>
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path, :method => "delete" %>
<% elsif @user.instance_of?(FacebookUser) -%>
  <%- avatar = @user.get_avatar_url :small %>
  <%- if avatar.nil? -%>
      <%- avatar = get_facebook_avatar_url @user.facebook_id %>
  <%- end -%>
  <%- if avatar.nil? -%>
      <%= link_to image_tag("http://static.ak.facebook.com/pics/q_silhouette_logo.gif") + @user.get_username, @user.get_url, :class => "first" %>
  <%- else -%>
      <%= link_to image_tag(avatar) + @user.get_username, @user.get_url, :class => "first user" %>
  <%- end -%>
      <%= link_to "Sign up", sign_up_path %>
      <span class="button" onclick="FB.Connect.logout(blogcastrFacebookSignOut);">Sign out</span>
<% elsif @user.instance_of?(TwitterUser) -%>
      <%= link_to image_tag(@user.get_avatar_url(:small)) + @user.get_username, @user.get_url, :class => "first user" %>
      <%= link_to "Sign up", sign_up_path %>
      <span onclick="blogcastrTwitterSignOut();">Sign out</span>
<% else -%>
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", sign_in_path %>
<% end -%>
    </div>
    <div class="clear">
    </div>
  </div>
  <div id="content">
    <div id="main">
      <div class="top-border-medium-indent-white-squared first">
      </div>
      <div class="background">
        <div id="title" class="small">
          <div class="side-border">
            <div class="upper-left-border-squared-corner-gray">
            </div>
            <div class="left-border-gray">
            </div>
            <div class="lower-left-border-squared-corner-gray">
            </div>
          </div>
          <h1 class="image"><%= link_to image_tag(@profile_user.setting.avatar.url(:medium), :class => "avatar"), profile_path(:username => @profile_user.username) -%><%= @profile_user_username_possesive -%> comments</h1>
          <div class="side-border">
            <div class="upper-right-border-squared-corner-gray">
            </div>
            <div class="right-border-gray">
            </div>
            <div class="lower-right-border-squared-corner-gray">
            </div>
          </div>
        </div>
        <h2 class="first"><%= @num_comments -%> <%= @num_comments == 1 ? "Comment" : "Comments" -%></h2>
<% if @num_paginated_comments == 0 -%>
        <div class="none">
          <%= @profile_user.username -%> has no comments.
        </div>
<% else -%>
        <ol class="comments">
  <%- i = @num_paginated_comments -%>
  <%- for comment in @paginated_comments -%>
          <%= render :partial => "/comments/comment", :locals => {:comment => comment, :i => i - 1} -%>
    <%- i = i - 1 -%>
  <% end -%>
        </ol>
<% end -%>
<% if @num_first_comment <= @num_comments -%>
        <div id="paginate">
  <%- if !@previous_page.nil? -%>
          <%= link_to "Back", username_comments_path(:username => @profile_user.username, :page => @previous_page, :id => @id), :class => "button back" %>
  <%- end -%>
          <span class="paginate"><strong><%= @num_first_comment -%>-<%= @num_last_comment -%></strong> of <strong><%= @num_paginated_comments -%></strong></span>
  <%- if !@next_page.nil? -%>
          <%= link_to "Next", username_comments_path(:username => @profile_user.username, :page => @next_page, :id => @id), :class => "button next" %>
  <%- end -%>
        </div>
<% end -%>
      </div>
      <div class="bottom-border-medium-indent-white-squared">
      </div>
    </div>
    <%= render :partial => "/users/share/side" -%>
    <div class="clear">
    </div>
  </div>
  <%= render :partial => "/share/footer_small" -%>
</div>
