<%- if show_top_bar -%>
<%= render :partial => "/share/new/top_bar" -%>
<div id="content-container" class="top-bar">
<%- else -%>
<div id="content-container">
<%- end -%>
  <div id="content">
    <%= render :partial => "/share/new/header", :locals => { :user => @user } -%>
    <div class="content-table">
      <div class="table-row">
        <div class="main">
          <h1>About Blogcastr</h1>
          <div>
            <h2>Why?</h2>
            <p>While living in New York City, Matt was always doing cool stuff that he wanted to share with his friends. Unfortunately there wasn't an easy way for him to share it in real-time. He explained the problem to his brother Kyle and Blogcastr was born.</p>
            <h2>What?</h2>
            <p>Blogcastr is a free, easy-to-use live blogging service for sharing cool stuff as it happens. From attending a sports game or concert to watching your favorite TV show, Blogcastr enables you to share what you are doing as you are doing it. It's a great way to create real-time conversation with friends.</p> 
            <h2>How?</h2>
            <p>Using Blogcastr from the web or your mobile phone is super easy. Simply sign-up, create a blogcast and start blogcasting! Post text and images while you recieve comments from your friends.</p> 
            <h2>Where?</h2> 
            <p>The Blogcastr bunker is located in Cambridge, MA.</p>
          </div>
          <div class="follow">
            Follow us and stay up to date:
          </div>
          <ul class="social-links">
            <li>
              <%= link_to image_tag("facebook.png"), "http://www.facebook.com/blogcastr", :class => "social-link" -%>
            </li>
            <li>
              <%= link_to image_tag("twitter.png"), "http://twitter.com/blogcastr", :class => "social-link" -%>
            </li>
            <li>
              <%= link_to image_tag("wordpress.png"), "http://blogcastr.wordpress.com", :class => "social-link" -%></p>
            </li>
          </ul>
        </div>
        <div class="side">
          <h2>The Team</h2>
          <ol id="team">
            <li class="item" item-link="<%= profile_path(:username => @kyle.username) -%>">
              <div class="item-header">
                <span class="username"><%= @kyle_setting.full_name -%></span>
              </div>
              <div class="item-body clearfix">
                <div class="avatar-and-link-container">
                  <%= link_to image_tag(@kyle_setting.avatar(:super), :class => "super-avatar"), profile_path(:username => @kyle.username) -%>
                  <ul class="social-links clearfix">
                    <li>
                      <%= link_to image_tag("/images/new/email-small.png"), "mailto:krushton@blogcastr.com", :class => "mailto-link social-link" -%> 
                    </li>
                    <li>
                      <%= link_to image_tag("/images/new/facebook-small.png"), "http://www.facebook.com/krushtown", :class => "social-link" -%> 
                    </li>
                    <li>
                      <%= link_to image_tag("/images/new/twitter-small.png"), "http://twitter.com/krushtown", :class => "social-link" -%> 
                    </li>
                    <li>
                      <%= link_to image_tag("/images/new/tumblr-small.png"), "http://blog.krushtown.com", :class => "social-link" -%> 
                    </li>
                  </ul>
                </div>
                <div class="user-info">
                  <div class="job-title">
                    Co-founder, CEO
                  </div>
                  <p class="bio">
                    Kyle’s role at Blogcastr includes everything not involving a command line. Kyle graduated from Bates College in 2007 with a degree in Economics and minor in Mathematics. He also spent some time abroad studying at the University of Edinburgh and playing association football. His previous professional work spans both finance and consulting. Aside from blogcasting, Kyle also enjoys cycling, travel, tech, and discovering new electronic dance music.
                  </p>
                </div>
              </div>
            </li>
            <li class="item" item-link="<%= profile_path(:username => @matt.username) -%>">
              <div class="item-header">
                <span class="username"><%= @matt_setting.full_name -%></span>
              </div>
              <div class="item-body clearfix">
                <div class="avatar-and-link-container">
                  <%= link_to image_tag(@matt_setting.avatar(:super), :class => "super-avatar"), profile_path(:username => @matt.username) -%>
                  <ul class="social-links clearfix">
                    <li>
                      <%= link_to image_tag("/images/new/email-small.png"), "mailto:mrushton@blogcastr.com", :class => "mailto-link social-link" -%> 
                    </li>
                    <li>
                      <%= link_to image_tag("/images/new/facebook-small.png"), "http://www.facebook.com/mrushton", :class => "social-link" -%> 
                    </li>
                    <li>
                      <%= link_to image_tag("/images/new/twitter-small.png"), "http://twitter.com/mrushton7", :class => "social-link" -%> 
                    </li>
                    <li>
                      <%= link_to image_tag("/images/new/wordpress-small.png"), "http://mrushton.wordpress.com", :class => "social-link" -%> 
                    </li>
                  </ul>
                </div>
                <div class="user-info">
                  <div class="job-title">
                    Co-founder, CTO
                  </div>
                  <p class="bio">
                    Matt is responsible for making Blogcastr work! Since graduating from Haverford College in 2004 with a degree in Computer Science, Matt has worked as a software engineer and entrepreneur. He previously co-founded a mobile advertising start-up where he built a location based ad network. When Matt isn’t coding, he is probably listening to “Call on Me” or riding on the Minuteman Bikeway.
                  </p>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/share/new/footer" -%>
