<div id="wrapper">
  <div id="header">
    <a href="/"><img src="/images/logo.png" alt="Blogcastr" border=0></img></a>
<% if @user.instance_of?(BlogcastrUser) -%>
    <div id="navigation">
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path %>
    </div>
    <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{@user.setting.avatar(:small)}')\"></div>", profile_path(:username => @user.name), :target => "_blank" %>
<% elsif @user.instance_of?(FacebookUser) -%>
<% elsif @user.instance_of?(TwitterUser) -%>
<% else -%>
    <div id="navigation">
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", sign_in_path %>
    </div>
<% end -%>
    <div class="clear">
    </div>
    <% form_tag search_path, :onSubmit => "blogcastrValidateSearchForm();" do %>
      <%= text_field_tag :query, params[:query], :placeholder => "Search" %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
  <div id="content">
    <h2>Broadcast your blog live. <%= link_to "Sign up", sign_up_path %> today.</h2>
  </div>
  <div id="footer">
    <p>&copy; 2009 Blogcastr</p>
  </div>
</div>
