<div id="marketing-container">
  <div id="marketing">
    <%= render :partial => "share/new/marketing_header" %>
    <div id="marketing-content" class="clearfix">
      <div id="marketing-info">
        <h2>Broadcast your blog <span id="live">LIVE!</span></h2>
        <p>Blogcastr is a free, easy-to-use live blogging service for sharing cool stuff as it happens.</p>
        <% form_for :blogcastr_user, :url => new_user_path, :html => { :id => "pick-username", :method => "get" } do |form| %>
          <%= form.label :username, "Pick a username and get started:" %>
          <div id="pick-username-container" onclick="jQuery('#pick-username-container input').focus();">
            http://blogcastr.com/<%= form.text_field :username, :autocomplete => "off", :maxlength => 15, :size => 20 -%>
          </div>
          <div id="pick-username-button-container">
            <%= form.submit "Sign Up Today", :class => "orange-button" %>
          </div>
        <% end %>
<%= observe_field "blogcastr_user_username", :url => valid_user_path, :frequency => 0.5, :with => "blogcastr_user[username]", :before => "jQuery('#pick-username-container').removeClass().addClass('loading');", :condition => "blogcastrCheckUsername()" -%>
      </div>
      <div id="carousel-container">
        <div id="carousel-inner-container">
          <ul id="carousel">
            <li>
              <h2>Create</h2>
              <p>blogcasts to post text and photos while receiving comments in real time.</p>
              <%= image_tag "/images/new/blogcast.png", :id => "blogcast" -%>
            </li>
            <li>
              <h2>Share</h2>
              <p>blogcasts with your friends and followers before or after they start.</p>
              <%= image_tag "/images/new/share.png", :id => "share" -%>
            </li>
            <li>
              <h2>Discover</h2>
              <p>cool blogcasts and interesting people.</p>
              <div id="avatars">
<%- iter = 0 -%>
<%- for user in @discover_users -%>
  <%- x_offset = iter % 6 * 57 + rand(30) -%> 
  <%- y_offset = iter / 6 * 50 + rand(30) -%>
                <%= link_to "<div class=\"large-rounded-avatar\" style=\"background-image: url('" + user.setting.avatar.url(:large) + "'); left: " + x_offset.to_s + "px; top: " + y_offset.to_s + "px; z-index:" + rand(99).to_s + ";\" title=\"" + user.username + "\"></div>", profile_path(:username => user.username) %>
  <%- iter += 1 -%>
<%- end -%>
              </div>
            </li>
          </ul>
        </div>
        <div id="carousel-buttons">
          <div class="carousel-button selected" button-id="1"></div>
          <div class="carousel-button" button-id="2"></div>
          <div class="carousel-button" button-id="3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content-container">
  <div id="content">
    <%= render :partial => "share/new/header", :locals => { :user => @user } %>
    <table class="content-table" cellspacing="0">
      <tr>
        <td class="main">
<%- if @featured_blogcasts.length > 0 -%>
          <h2>Featured Blogcasts</h2>
          <ol class="blogcasts">
  <%- for blogcast in @featured_blogcasts -%>
            <%= render :partial => "/share/new/blogcast", :locals => { :blogcast => blogcast } -%>
  <%- end -%>
<%- end -%>
          </ol>
<%- if @recent_blogcasts.length > 0 -%>
          <h2>Recent Blogcasts</h2>
          <ol class="blogcasts">
  <%- for blogcast in @recent_blogcasts -%>
            <%= render :partial => "/share/new/blogcast", :locals => { :blogcast => blogcast } -%>
  <%- end -%>
<%- end -%>
          </ol>
        </td>
        <td class="side">
<%- if @featured_users.length > 0 -%>
          <h2>Featured Users</h2>
          <ol class="users">
  <%- for user in @featured_users -%>
            <li class="clearfix">
              <%= link_to image_tag(user.setting.avatar(:medium), :class => "medium-avatar"), profile_path(:username => user.username) -%>
              <div class="user-info">
                <div class="username">
                  <%= link_to user.username, profile_path(:username => user.username), :class => "username" -%>
                </div>
    <%- if !user.setting.location.blank? -%>
                <div class="location">
                  <%= user.setting.location -%>
                </div>
    <%- end -%>
              </div>
            </li>
  <%- end -%>
          </ol>
<%- end -%>
        </td>
      </tr>
    </table>
  </div>
</div>
<%= render :partial => "/share/new/footer" -%>
