<%- user = comment.user -%>
<li class="comment" comment-id="<%= comment.id -%>">
  <div class="clearfix">
    <%= link_to "<div class=\"comment-avatar small-rounded-avatar\" style=\"background-image: url('" + user.setting.avatar.url(:small) + "')\"></div>", profile_path(:username => user.username) %>
    <div class="comment-info">
      <div class="username-timestamp-in-words-container">
        <%= link_to user.username, profile_path(:username => user.username), :class => "username" -%>
        <span class="timestamp-in-words" timestamp="<%= comment.created_at.to_i.to_s -%>"><%= timestamp_in_words_helper comment.created_at -%></span>
      </div>
      <p class="text">
        <%= comment.text %>
      </p>
    </div>
  </div>
</li>
