<%- user = comment_post.comment.user -%>
<li id="Post:<%= comment_post.id -%>" class="item">
  <div>
<%- if current_user == comment_post.user -%>
    <div class="item-header settings-button-header">
      <div class="item-settings-button">
      </div>
<%- else -%>
    <div class="item-header">
<%- end -%>
      <span class="timestamp-in-words" timestamp="<%= comment_post.created_at.to_i.to_s -%>" ><%= timestamp_in_words_helper comment_post.created_at -%></span>
    </div>
    <div class="item-body">
<%- if current_user == comment_post.user -%>
      <ul class="item-settings" style="display: none;">
        <li>
          <%= link_to_remote "Delete", :html => { :class => "destroy" }, :url => post_path(:id => comment_post.id), :method => "delete", :confirm => "Sure you want to delete Post #{comment_post.id}? This can't be undone.", :failure => "alert('Oops! We couldn\\'t delete Post #{comment_post.id}.');" %>
        </li>
      </ul>
<%- end -%>
      <div class="clearfix">
<%- if user.instance_of?(BlogcastrUser) -%>
        <%= link_to image_tag(user.setting.avatar(:small), :class => "small-avatar"), profile_path(:username => user.username) -%>
        <div class="post-info">
          <div class="username">
            <%= link_to user.username, profile_path(:username => user.username), :class => "username" -%>
<%- elsif user.instance_of?(FacebookUser) -%>
        <%= link_to image_tag(user.setting.avatar(:small), :class => "small-avatar"), user.facebook_link -%>
        <div class="post-info">
          <div class="username">
            <%= link_to user.setting.full_name, user.facebook_link, :class => "username" -%>
<%- elsif user.instance_of?(TwitterUser) -%>
        <%= link_to image_tag(user.setting.avatar(:small), :class => "small-avatar"), "http://twitter.com/" + user.username -%>
        <div class="post-info">
          <div class="username">
            <%= link_to "@" + user.username, "http://twitter.com/" + user.username, :class => "username" -%>
<%- end -%>
          </div>
          <p class="text">
            <%= comment_post.comment.text -%>
          </p>
        </div>
      </div>
    </div>
  </div>
</li>
