<%- user = comment.user -%>
<li class="comment" comment-id="<%= comment.id -%>">
  <div class="clearfix">
<%- if user.instance_of?(BlogcastrUser) -%>
    <%= link_to "<div class=\"comment-avatar small-avatar rounded\" style=\"background-image: url('" + user.setting.avatar.url(:small) + "')\"></div>", profile_path(:username => user.username) %>
    <div class="comment-info">
      <div class="username-timestamp-in-words-container">
        <%= link_to user.username, profile_path(:username => user.username), :class => "username" -%>
<%- elsif user.instance_of?(FacebookUser) -%>
    <%= link_to "<div class=\"comment-avatar small-avatar rounded\" style=\"background-image: url('" + user.setting.avatar.url(:small) + "')\"></div>", user.facebook_link %>
    <div class="comment-info">
      <div class="username-timestamp-in-words-container">
        <%= link_to user.setting.full_name, user.facebook_link, :class => "username" -%>
<%- elsif user.instance_of?(TwitterUser) -%>
    <%= link_to "<div class=\"comment-avatar small-avatar rounded\" style=\"background-image: url('" + user.setting.avatar.url(:small) + "')\"></div>", "http://twitter.com/" + user.username %>
    <div class="comment-info">
      <div class="username-timestamp-in-words-container">
        <%= link_to "@" + user.username, "http://twitter.com/" + user.username, :class => "username" -%>
<%- end -%>
        <span class="timestamp-in-words" timestamp="<%= comment.created_at.to_i.to_s -%>"><%= timestamp_in_words_helper comment.created_at -%></span>
      </div>
      <p class="text">
        <%= comment.text %>
      </p>
    </div>
  </div>
</li>
