<div id="content-footer">
  <span id="copyright">&copy; 2011 Blogcastr</span>
  <ul id="footer-navigation">
    <li>
      <%= link_to image_tag("new/facebook-small.png"), "http://facebook.com/blogcastr" -%>
    </li>
    <li>
      <%= link_to image_tag("new/twitter-small.png"), "http://twitter.com/blogcastr" -%>
    </li>
    <li class="bullet">
      <%= link_to "About", about_path -%>
    </li>
    <li class="bullet">
      <%= link_to "Blog", "http://blogcastr.wordpress.com" -%>
    </li>
    <li class="bullet">
      <%= link_to "Feedback", "http://getsatisfaction.com/blogcastr" -%>
    </li>
    <li class="bullet">
      <%= link_to "Privacy Policy", privacy_policy_path -%>
    </li>
    <li class="bullet">
      <%= link_to "Terms of Service", terms_of_service_path -%>
    </li>
  </ul>
</div>
