<div id="header">
  <%= link_to image_tag("new/b-logo.png", :id => "b-logo"), root_path -%> 
  <div id="b-beta" class="beta">BETA</div>
<% if user.instance_of?(BlogcastrUser) -%>
  <ul id="header-navigation">
    <li>
      <%= link_to "Home", home_path %>
    </li>
    <li>
      <%= link_to "Settings", settings_path %>
    </li>
    <li>
      <%= link_to "Sign out", sign_out_path, :method => "delete" %>
    </li>
  </ul>
  <div id="welcome">
    <%= link_to "<div id=\"welcome-avatar\" class=\"small-rounded-avatar\" style=\"background-image: url('" + user.setting.avatar.url(:small) + "')\"></div>", profile_path(:username => user.username) %>
    <div>Welcome,</div>
    <%= link_to user.username, profile_path(:username => user.username), :class => "username" -%>
  </div>
<% elsif user.instance_of?(FacebookUser) -%>
    <ul id="header-navigation">
      <li>
        <%= link_to "Sign up", sign_up_path %>
      </li>
      <li>
        <%= link_to "Sign out", facebook_logout_path, :method => "delete" %>
      </li>
    </ul>
    <div id="welcome">
      <%= link_to "<div id=\"welcome-avatar\" class=\"small-rounded-avatar\" style=\"background-image: url('" + @user.setting.avatar.url(:small) + "')\"></div>", @user.facebook_link %>
      <div>Welcome,</div>
      <%= link_to @user.setting.full_name, @user.facebook_link, :class => "username" -%>
    </div>
<% elsif @user.instance_of?(TwitterUser) -%>
    <ul id="header-navigation">
      <li>
        <%= link_to "Sign up", sign_up_path %>
      </li>
      <li>
        <%= link_to "Sign out", twitter_sign_out_path, :method => "delete" %>
      </li>
    </ul>
    <div id="welcome">
      <%= link_to "<div id=\"welcome-avatar\" class=\"small-rounded-avatar\" style=\"background-image: url('" + @user.setting.avatar.url(:small) + "')\"></div>", "http://twitter.com/" + @user.username %>
      <div>Welcome,</div>
      <%= link_to "@" + @user.username, "http://twitter.com/" + @user.username, :class => "username" -%>
    </div>
<% else -%>
  <div id="sign-in-and-sign-up-button-container">
    <%= link_to "Sign In", sign_in_path, :id => "sign-in-button", :class => "blue-button" %>
    <%= link_to "Sign Up", sign_up_path, :id => "sign-up-button", :class => "orange-button" %>
  </div>
<% end -%>
  <%- form_tag search_path(:controller => "search"), :method => "get", :id => "header-search" do -%> 
    <%= text_field_tag :query, "Search Blogcastr...", :onfocus => "if (this.value == 'Search Blogcastr...') this.value = '';", :onblur => "if (this.value == '') this.value = 'Search Blogcastr...';" -%> 
  <%- end -%> 
</div>
