<%- user = image_post.user -%>
<%- blogcast = image_post.blogcast -%>
<li class="item">
  <div>
<%- html_options = { :class => "item", :"data-id" => image_post.id, :"data-type" => image_post.type, :"data-username" => user.username, :"data-user-url" => profile_path(:username => user.username), :"data-avatar-url" => user.setting.avatar(:small), :"data-date" => image_post.created_at.xmlschema, :"data-image-url" => image_post.image.url(:large), :"data-image-width" => image_post.image_width, :"data-image-height" => image_post.image_height } -%> 
<%- if !image_post.text.blank? -%>
  <%- html_options[:"data-post-text"] = image_post.text -%>
<%- end -%>
<%- if !image_post.short_url.blank? -%>
  <%- html_options[:"data-short-url"] = image_post.short_url -%>
<%- end -%>
    <%= link_to "", blogcast_post_permalink_path(:username => user.username, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title, :post_id => image_post.id), html_options -%>
<%- if current_user == user -%>
    <div class="item-header settings-button-header">
      <div class="item-settings-button">
      </div>
<%- else -%>
    <div class="item-header">
<%- end -%>
      <span class="timestamp-in-words" data-date="<%= image_post.created_at.xmlschema -%>" ><%= timestamp_in_words_helper image_post.created_at -%></span>
    </div>
    <div class="item-body">
<%- if current_user == user -%>
      <ul class="item-settings" style="display: none;">
        <li>
          <%= link_to_remote "Delete", :html => { :class => "destroy" }, :url => post_path(:id => image_post.id), :method => "delete", :confirm => "Are you sure you want to delete this post?", :failure => "alert('Oops! We couldn\\'t delete the post.');" %>
        </li>
      </ul>
<%- end -%>
      <div class="clearfix">
        <%= link_to image_tag(user.setting.avatar(:small), :class => "small-avatar"), profile_path(:username => user.username), :class => "small-avatar" -%>
        <div class="post-info">
          <div class="username">
            <%= link_to user.username, profile_path(:username => user.username), :class => "username" -%>
          </div>
          <%= image_tag image_post.image.url(:default), :class => "image" %>
<%- if !image_post.text.blank? -%>
          <p class="caption">
            <%= image_post.text -%>
          </p>
<%- end -%>
        </div>
      </div>
    </div>
  </div>
</li>
