<div id="wrapper">
  <div class="notice" id="success-notice" style="display: none;">
  </div>
  <div id="header">
    <%= link_to "<div class=\"avatar-large-rounded\" style=\"background-image: url('#{@profile_user.setting.avatar.url(:large)}')\"></div>", profile_path(:username => @profile_user.name), :target => "_blank" %>
    <h1><%= @profile_user.name %>'s Blogcastr</h1>
<% if @user.instance_of?(BlogcastrUser) -%>
    <div id="navigation">
      <%= link_to "Home", home_path %>
      <%= link_to "Settings", settings_path %>
      <%= link_to "Sign out", sign_out_path, :method => "delete" %>
    </div>
    <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{@user.setting.avatar.url(:small)}')\"></div>", profile_path(:username => @user.name), :target => "_blank" %>
    <div class="clear">
    </div>
  <%- if @user.id != @profile_user.id -%> 
    <div id="subscription">
    <%- if @subscription.nil? -%>
    <%= button_to_remote "Subscribe", :url => subscriptions_path(:user_id => @profile_user.id), :type => "submit", :failure => "alert('Error communicating with server, unable to subscribe to #{@profile_user.name}\\'s blogcast');" %>
    <%- else -%>
    <%= button_to_remote "Unsubscribe", :url => subscription_path(:id => @subscription.id), :method => "delete", :failure => "alert('Error communicating with server, unable to unsubscribe from #{@profile_user.name}\\'s blogcast');" %>
    <%- end -%>
    </div>
  <%- end -%>
<% elsif !@user.nil? -%>
    <div id="navigation">
      <%= link_to "Sign up", sign_up_path %>
    </div>
<% else -%>
    <div id="navigation">
      <%= link_to "Sign up", sign_up_path %>
      <%= link_to "Sign in", sign_in_path %>
    </div>
<% end -%>
  </div>
  <div id="content">
    <div id="main">
      <h3><span class="counter-large"><%= @num_upcoming_blogcasts -%></span> <%= link_to @num_upcoming_blogcasts == 1 ? "Upcoming Blogcast" : "Upcoming Blogcasts", public_blogcasts_path(:username => @profile_user.name) -%></h3>
      <ol>
<% for blogcast in @upcoming_blogcasts -%>
        <li class="blogcast">
          <h4 class="blogcast-title"><%= link_to blogcast.title, blogcast_permalink_path(:username => blogcast.user.name, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title) -%></h4>
          <p class="blogcast-date"><%= blogcast.starting_at.strftime("%a %b %d, %Y %I:%M %p").gsub(/ 0/,' ') %></p>
          <div class="clear">
          </div>
          <p class="blogcast-tags"><%= blogcast.tags -%></p>
  <%- num_likes = blogcast.likes.count -%>
          <h5 class=""><span class="counter-small"><%= num_likes -%></span><%= link_to num_likes == 1 ? "Like" : "Likes", blogcast_likes_permalink_path(:username => blogcast.user.name, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title) -%></h5>
          <ul>
  <%- likes = User.find_by_sql(["SELECT users.* FROM likes, users WHERE likes.blogcast_id = ? AND likes.user_id = users.id LIMIT 30", blogcast.id]) -%>
  <%- for like in likes -%>
            <li>
              <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{like.setting.avatar.url(:small)}');\"></div>", profile_path(:username => like.name), :target => "_blank" %>
            </li>
  <%- end -%>
          </ul>
        </li>
<% end %>
      </ol>
      <h3><span class="counter-large"><%= @num_recent_blogcasts -%></span> <%= link_to @num_recent_blogcasts == 1 ? "Recent Blogcast" : "Recent Blogcasts", public_blogcasts_path(:username => @profile_user.name) -%></h3>
      <ol>
<% for blogcast in @recent_blogcasts -%>
        <li class="blogcast">
          <h4 class="blogcast-title"><%= link_to blogcast.title, blogcast_permalink_path(:username => blogcast.user.name, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title) -%></h4>
          <p class="blogcast-date"><%= blogcast.starting_at.strftime("%a %b %d, %Y %I:%M %p").gsub(/ 0/,' ') %></p>
          <div class="clear">
          </div>
          <p class="blogcast-tags"><%= blogcast.tags -%></p>
  <%- num_likes = blogcast.likes.count -%>
          <h5 class=""><span class="counter-small"><%= num_likes -%></span><%= link_to num_likes == 1 ? "Like" : "Likes", blogcast_likes_permalink_path(:username => blogcast.user.name, :year => blogcast.year, :month => blogcast.month, :day => blogcast.day, :title => blogcast.link_title) -%></h5>
          <ul>
  <%- likes = User.find_by_sql(["SELECT users.* FROM likes, users WHERE likes.blogcast_id = ? AND likes.user_id = users.id LIMIT 30", blogcast.id]) -%>
  <%- for like in likes -%>
            <li>
              <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{like.setting.avatar.url(:small)}');\"></div>", profile_path(:username => like.name), :target => "_blank" %>
            </li>
  <%- end -%>
          </ul>
        </li>
<% end %>
      </ol>
    </div>
    <div id="side">
<% if !@profile_user.setting.name.nil? %>
      <h4>Name</h4>
      <p><%= @profile_user.setting.name %></p>
      <br>
<% end -%>
<% if !@profile_user.setting.about.nil? %>
      <h4>About</h4>
      <p><%= @profile_user.setting.about %></p>
      <br>
<% end -%>
<% if !@profile_user.setting.web.nil? %>
      <h4>Web</h4>
      <a href="<%= @profile_user.setting.web %>" target="_blank"><%= @profile_user.setting.web.length > 25 ? (@profile_user.setting.web[0,21] + "...") : @profile_user.setting.web -%></a>
<% end -%>
      <h3><span class="counter-medium"><%= @num_blogcasts -%></span> <%= @num_blogcasts == 1 ? "Blogcast" : "Blogcasts" -%></h3>
      <h3 class="expandable" onclick="blogcastrToggleBlindEffect('subscriptions')"><span class="counter-medium"><%= @num_subscriptions -%></span> <%= link_to  @num_subscriptions == 1 ? "Subscription" : "Subscriptions", public_subscriptions_path(:username => @profile_user.name) -%></h3>
      <ul id="subscriptions">
<% for subscription in @subscriptions -%>
        <li>
          <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{subscription.setting.avatar.url(:small)}');\"></div>", profile_path(:username => subscription.name), :target => "_blank" %>
        </li>
<% end -%>
      </ul>
      <h3 class="expandable" onclick="blogcastrToggleBlindEffect('subscribers');"><span class="counter-medium"><%= @num_subscribers -%></span> <%= @num_subscribers == 1 ? "Subscriber" : "Subscribers" -%></h3>
      <ul id="subscribers">
<% for subscriber in @subscribers -%>
        <li>
          <%= link_to "<div class=\"avatar-small-rounded\" style=\"background-image: url('#{subscriber.setting.avatar.url(:small)}');\"></div>", profile_path(:username => subscriber.name), :target => "_blank" %>
        </li>
<% end -%>
      </ul>
      <h3><span class="counter-medium"><%= @num_posts -%></span> <%= @num_posts == 1 ? "Post" : "Posts" -%></h3>
      <h3><span class="counter-medium"><%= @num_reposts -%></span> <%= @num_reposts == 1 ? "Repost" : "Reposts" -%></h3>
      <h3><span class="counter-medium"><%= @num_comments -%></span> <%= @num_comments == 1 ? "Comment" : "Comments" -%></h3>
    </div>
    <div class="clear">
    </div>
    </div>
    <div id="footer">
      <p>&copy; 2009 Blogcastr</p>
    </div>
  </div>
</div>
