<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= @user.name %>'s Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" media="screen"/>
    <style>
      body
      {
        background: url('<%= @user.setting.background.url %>') fixed no-repeat top left;
      }

      .avatar-small-rounded-background
      {
        background-image: url('<%= @user.setting.avatar(:small) %>');
      }

      .avatar-large-rounded-background
      {
        background-image: url('<%= @user.setting.avatar(:large) %>');
      }
    </style>
    <%= javascript_include_tag :defaults, "jquery.js", "strophe/b64.js", "strophe/md5.js", "strophe/sha1.js", "strophe/strophe.js", "strophe/plugins/strophe.pubsub.js", "dashboard.js", :media => "all" %>
    <%= javascript_tag "var authenticity_token = \"#{form_authenticity_token}\"" %>
    <script type="text/javascript">
      jQuery.noConflict();
      var username = "<%= @user.name %>";
      var jid = "<%= @user.name %>@blogcastr.com";
      var blogname = "<%= @user.name %>";
      var nodename = "/home/blogcastr.com/<%= @user.name %>/blog";
      var roomname = "<%= @user.name %>";
      var server_timestamp = <%= Time.now.to_i %>
    </script>
    <script type="text/javascript" src="http://blogcastr.com/ejabberd/password.js"></script>
  </head>
  <body>
    <%= yield :layout %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-11177931-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
